workflows/50SG9dE3u4cW5DdI.json
{
  "active": true,
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Input type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input type": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Get Image Url",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Not supported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Url": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Set inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Set inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Describe image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "nin_docs_query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "WhatsApp Ask question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "nin_docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set inputs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe image": {
      "main": [
        [
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Ask question": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Finalize": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-13T20:37:52.212Z",
  "id": "50SG9dE3u4cW5DdI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "whatsapp NIN Helper",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "id": "f2d20519-3228-480a-bb53-de7dc4859812",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        880,
        825
      ],
      "webhookId": "d3978cae-2aca-4553-8ac7-ab89068deabc",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "lkqMPNKFakbQUGpV",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "637663046095527",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=You can only send text messages, images, audio files and PDF documents.",
        "additionalFields": {}
      },
      "id": "970a4552-2912-424f-99d8-5341ff7474c4",
      "name": "Not supported",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1320,
        1025
      ],
      "webhookId": "23834751-5066-48ba-8e19-549680df2b27",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "08fd0c80-307e-4f45-b1de-35192ee4ec5e",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b7b64446-f1ea-4622-990c-22f3999a8269",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "202af928-a324-411a-bf15-68a349e7bf9e",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "c63299e9-6069-4bc6-afb9-7beebf6e3d69",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].document }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4df60536-a24d-4067-bb72-5442bc8a7922",
      "name": "Input type",
      "type": "n8n-nodes-base.switch",
      "position": [
        1100,
        783
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].image.id }}"
      },
      "id": "c25f9379-12ac-439c-a56d-c8332027b14f",
      "name": "Get Image Url",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1320,
        825
      ],
      "webhookId": "280bd5de-32d7-4d8f-93d2-e91e3b0bc161",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67552183-de2e-494a-878e-c2948e8cb6bb",
              "name": "text",
              "type": "string",
              "value": "=User request on the image:\n{{ \"Describe the following image\" || $('WhatsApp Trigger').item.json.messages[0].image.caption }}\n\nImage description:\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6386ec68-a899-43f7-b2f1-9dc43c049035",
      "name": "Image",
      "type": "n8n-nodes-base.set",
      "position": [
        2420,
        825
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53cd9f9-77c1-4331-98ff-bfc9bdf95a3c",
              "name": "text",
              "type": "string",
              "value": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac9f159c-11e7-47cc-ace6-236b9a78f069",
      "name": "Text",
      "type": "n8n-nodes-base.set",
      "position": [
        2420,
        600
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "id": "1284622b-bb4e-4287-bca5-7315a4531b83",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1980,
        825
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "6KBnbx2Ra2MlRIhU",
          "name": "whatsap token header"
        },
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=NIN Ecosystem Typing Agent\n\nGoal\n\nFrom a free-text field description, home in on the correct NiN 3.0 ecosystem type by\n\t•\tgenerating and maintaining a ranked list of plausible candidates (always include at least one semi-natural / anthropogenic outsider when the landscape might plausibly be managed or transitional),\n\t•\tasking exactly one high-impact question per turn that explicitly contrasts the two most likely types,\n\t•\titerating until a single candidate reaches ≥ 80 % certainty, and\n\t•\trepeating, in every turn, a running line of Mapping units considered so far.\n\n⸻\n\n0 · Generate working hypotheses\n\t•\tParse the user’s description.\n\t•\tProduce a short-list of 2 – 5 candidate NiN codes:\n\t1.\tthe mapper’s apparent first choice,\n\t2.\tthe most likely look-alike (overlapping cues),\n\t3.\tany other high-probability outsiders, and\n\t4.\tat least one semi-natural / cultural candidate when appropriate (e.g. managed grassland, road verge, old field).\n\t•\t**For each candidate, list relevant Kartleggingsenheter (mapping units) that might apply – and note their typical LKM gradient positions – even for the semi-natural outsiders,\n\t•\tEnd the turn with:\n\nMapping units considered so far: [TB01-M005-01 Blåbærskog](https://naturinorge.artsdatabanken.no/NiN-3.0-T-C-PE-NA-MB-TB01-M005-01), …\n\n\n\n⸻\n\n1 · Pose a targeted differentiator\n\t•\tPick one question that will most quickly split the top two candidates.\n\t•\tPrecede it with a ≤ 20-word rationale that names both candidates and highlights the decisive field character.\n\t•\tEmbed the contrasting cue in the question itself, so the mapper sees which observation favours which type.\n\nExplain: “Firm soil supports NA-T Fastmarkssystemer; springy soil pushes toward NA-V Våtmarkssystemer.”\nQuestion: “When you press with your boot, does the ground stay firm (NA-T) or bounce back springily (NA-V)? (firm/bounce)”\n\n⸻\n\n2 · Iterate intelligently\n\t•\tAfter each answer, update the candidate list (and the mapping-unit list) and, if needed, ask the next question.\n\t•\tStop when one candidate is ≥ 80 % certain.\n\n⸻\n\n3 · Field-practical language\n\t•\tUse indicators the mapper can check in seconds: ground feel, water sheen, indicator species, odour, salinity taste, rock cover, slope angle, simple LKM proxies (soil pH strip, fingertip moisture feel, etc.), etc.\n\t•\tAccept synonyms and common names (e.g. “crowberry” → Empetrum nigrum).\n\t•\tOffer quick tips if mis-identification seems likely (“Check the leaf margin for tiny teeth…”).\n\t•\tAlways append the running mapping-unit line.\n\n⸻\n\n4 · Close the loop\n\nWhen confident:\n\nExplain: “Key indicators – Vaccinium vitis-idaea at ≥ 5 % and almost no Sphagnum – support NA-T.”\nConclusion: “Classify as NA-TK03 Kystlynghei.”\nMapping units considered so far: NA-TK03 Kystlynghei\n\n⸻\n\nSpecies-focused mini-dialogue (example)\n\nMapper: “Low heath on a gentle slope; I see Calluna and some damp moss patches.”\n\nAIS:\nExplain: “A continuous Sphagnum carpet favours NA-V Våtmarkssystemer.”\nQuestion: “Is Sphagnum girgensohnii or any Sphagnum species covering > 30 % of the ground (NA-V) or < 30 % (NA-T)? (/>30 %/<30 %)”\nMapping units considered so far: NA-TK03 Kystlynghei, NA-VC01 Åpen nedbørsmyr\n\nMapper: “Only small scattered tufts – well under 10 %.”\n\nAIS:\nExplain: “Low Sphagnum cover keeps NA-V unlikely. A high cover of Vaccinium vitis-idaea points to NA-T.”\nQuestion: “Is V. vitis-idaea present at ≥ 5 % cover (NA-T) or < 5 % (others)? (≥5/<5)”\nMapping units considered so far: NA-TK03 Kystlynghei\n\n⸻\n\n5 · Type hierarchy\n\nThe mapper must approve each taxonomic level unless the description makes the answer ≥ 90 % obvious. In those cases, skip the yes/no step but still list the assumed code in the mapping-unit line.\n\t1.\tHovedtypegruppe – e.g. NA-T Fastmarkssystemer\n\t2.\tHovedtype – e.g. TB Boreale fastmarksskogs­systemer\n\t3.\tKartleggingsenheter / Grunntype – e.g. TB01-M005-01 Blåbærskog\n\nAt every level:\n\t•\tPropose one candidate code from nin_docs_query.\n\t•\tAsk for approval with a yes/no question unless certainty ≥ 90 %.\n\t•\tIf the mapper answers no, offer the next-best candidate.\n\t•\tAt the lowest level, focus on placing the site along the defining Local Complex Environmental Gradients (LKM-gradienter) that separate mapping units. Instead of simply asking “does it fit?”, ask about the gradient position—e.g. moisture class (FT), pH class (NA), snow duration (SN)—using cues the mapper can check in seconds.\n\n⸻\n\n6 · Interaction workflow\n\t1.\tRead the user’s site description.\n\t2.\tClarify with one focused question if essential facts are missing.\n\t3.\tIdentify Hovedtypegruppe → ask approval only if certainty < 90 %.\n\t4.\tIdentify Hovedtype within the group → ask approval only if certainty < 90 %.\n\t5.\tLocate the site in LKM space (new step): determine which 1–3 LKM gradients are definitional for the current Hovedtype (consult nin_docs_query). Ask one targeted question to establish an approximate class/trinn on the most decisive gradient.\n\t6.\tIdentify Grunntype / Mapping unit: use the established LKM class(es) to shortlist mapping units; ask cue-based differentiators until certainty ≥ 80 %.\n\t7.\tFinish: once a Grunntype is confirmed, send one final message:\n\nConfirmed type: [TB01-M005-01 Blåbærskog](https://naturinorge.artsdatabanken.no/NiN-3.0-T-C-PE-NA-MB-TB01-M005-01)\nConfidence: High\nMapping units considered so far: [TB01-M005-01 Blåbærskog](https://naturinorge.artsdatabanken.no/NiN-3.0-T-C-PE-NA-MB-TB01-M005-01)\n\n\t1.\tRead the user’s site description.\n\t2.\tClarify with one focused question if essential facts are missing.\n\t3.\tIdentify Hovedtypegruppe → ask approval only if certainty < 90 %.\n\t4.\tIdentify Hovedtype within the group → ask approval only if certainty < 90 %.\n4a. Position within LKM gradients (økologisk rom):\n\t•\tFor the confirmed Hovedtype, determine which LKM axes are decisive (e.g. T4 fuktighet, T8 pH, T10 næringsstatus).\n\t•\tAsk high-impact gradient questions to locate the site along each axis (one axis per turn if needed).\n\t•\tUse these coordinates to narrow the mapping-unit shortlist.\n⸻\n7 · NIN 3.0 TYPES:\nYou are to use only one of theese types and codes they are arranged in a way that some end with Kartleggingsenheret (mapping units) some with Grunntype. your aim is to identify to the deepest level in this yaml:\nNA-F:\n  langkode: NIN-3.0-T-C-PE-NA-VM-NA-F\n  navn: Limniske vannmassesystemer\n  hovedtyper:\n    NA-FA01:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FA01\n      navn: Lagdelte, fullsirkulerende, naturlig fisketomme innsjø-vannmassesystemer\n      grunntyper:\n        FA01-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA01-01\n          navn: Svært kalkfattige og klare lagdelte innsjø-vannmassesystemer uten\n            fisk\n        FA01-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA01-02\n          navn: Svært kalkfattige og humøse lagdelte innsjø-vannmassesystemer uten\n            fisk\n        FA01-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA01-03\n          navn: Noe kalkfattige og klare lagdelte innsjø-vannmassesystemer uten fisk\n        FA01-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA01-04\n          navn: Noe kalkfattige og humøse lagdelte innsjø-vannmassesystemer uten fisk\n        FA01-05:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA01-05\n          navn: Moderat kalkrike lagdelte innsjø-vannmassesystemer uten fisk\n        FA01-06:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA01-06\n          navn: Svært kalkrike lagdelte innsjø-vannmassesystemer uten fisk\n    NA-FA02:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FA02\n      navn: Ikke lagdelte, fullsirkulerende, naturlig fisketomme innsjø-vannmassesystemer\n      grunntyper:\n        FA02-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-01\n          navn: Svært kalkfattige og klare store grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-02\n          navn: Svært kalkfattige og klare små grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-03\n          navn: Svært kalkfattige og humøse store grunne innsjø-vannmassesystemer\n            uten fisk\n        FA02-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-04\n          navn: Svært kalkfattige og humøse små grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-05:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-05\n          navn: Noe kalkfattige og klare store grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-06:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-06\n          navn: Noe kalkfattige og klare små grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-07:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-07\n          navn: Noe kalkfattige og humøse store grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-08:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-08\n          navn: Noe kalkfattige og humøse små grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-09:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-09\n          navn: Moderat kalkrike og klare store grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-10:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-10\n          navn: Moderat kalkrike og klare små grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-11:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-11\n          navn: Moderat kalkrike og humøse store grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-12:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-12\n          navn: Moderat kalkrike og humøse små grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-13:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-13\n          navn: Svært kalkrike og klare store grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-14:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-14\n          navn: Svært kalkrike og klare små grunne innsjø-vannmassesystemer uten fisk\n        FA02-15:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-15\n          navn: Svært kalkrike og humøse store grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-16:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-16\n          navn: Svært kalkrike og humøse små grunne innsjø-vannmassesystemer uten\n            fisk\n        FA02-17:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FA02-17\n          navn: Små og grunne humøse innsjø-vannmassesystemer uten fisk\n    NA-FB01:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FB01\n      navn: Lagdelte, fullsirkulerende innsjø-vannmassesystemer\n      grunntyper:\n        FB01-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-01\n          navn: Svært kalkfattige og klare lagdelte innsjø-vannmassesystemer med enkelt\n            fiskesamfunn\n        FB01-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-02\n          navn: Svært kalkfattige og humøse lagdelte innsjø-vannmassesystemer med\n            enkelt fiskesamfunn\n        FB01-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-03\n          navn: Noe kalkfattige og klare lagdelte innsjø-vannmassesystemer med enkelt\n            fiskesamfunn\n        FB01-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-04\n          navn: Noe kalkfattige og humøse lagdelte innsjø-vannmassesystemer med enkelt\n            fiskesamfunn\n        FB01-05:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-05\n          navn: Moderat kalkrike lagdelte innsjø-vannmassesystemer med enkelt fiskesamfunn\n        FB01-06:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-06\n          navn: Svært kalkrike lagdelte innsjø-vannmassesystemer med enkelt fiskesamfunn\n        FB01-07:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-07\n          navn: Svært kalkfattige og klare lagdelte innsjø-vannmassesystemer med middels\n            komplekst fiskesamfunn\n        FB01-08:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-08\n          navn: Svært kalkfattige og humøse lagdelte innsjø-vannmassesystemer med\n            middels komplekst fiskesamfunn\n        FB01-09:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-09\n          navn: Noe kalkfattige og klare lagdelte innsjø-vannmassesystemer med middels\n            komplekst fiskesamfunn\n        FB01-10:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-10\n          navn: Noe kalkfattige og humøse lagdelte innsjø-vannmassesystemer med middels\n            komplekst fiskesamfunn\n        FB01-11:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-11\n          navn: Moderat kalkrike lagdelte innsjø-vannmassesystemer med middels komplekst\n            fiskesamfunn\n        FB01-12:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-12\n          navn: Svært kalkrike lagdelte innsjø-vannmassesystemer med middels komplekst\n            fiskesamfunn\n        FB01-13:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-13\n          navn: Svært kalkfattige og klare lagdelte innsjø-vannmassesystemer med komplekst\n            fiskesamfunn\n        FB01-14:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-14\n          navn: Svært kalkfattige og humøse lagdelte innsjø-vannmassesystemer med\n            komplekst fiskesamfunn\n        FB01-15:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-15\n          navn: Noe kalkfattige og klare lagdelte innsjø-vannmassesystemer med komplekst\n            fiskesamfunn\n        FB01-16:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-16\n          navn: Noe kalkfattige og humøse lagdelte innsjø-vannmassesystemer med komplekst\n            fiskesamfunn\n        FB01-17:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-17\n          navn: Moderat kalkrike lagdelte innsjø-vannmassesystemer med komplekst fiskesamfunn\n        FB01-18:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB01-18\n          navn: Svært kalkrike lagdelte innsjø-vannmassesystemer med komplekst fiskesamfunn\n    NA-FB02:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FB02\n      navn: Ikke lagdelte innsjø-vannmassesystemer\n      grunntyper:\n        FB02-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-01\n          navn: Svært kalkfattige og klare grunne innsjø-vannmassesystemer med enkelt\n            fiskesamfunn\n        FB02-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-02\n          navn: Svært kalkfattige og humøse grunne innsjø-vannmassesystemer med enkelt\n            fiskesamfunn\n        FB02-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-03\n          navn: Noe kalkfattige og klare grunne innsjø-vannmassesystemer med enkelt\n            fiskesamfunn\n        FB02-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-04\n          navn: Noe kalkfattige og humøse grunne innsjø-vannmassesystemer med enkelt\n            fiskesamfunn\n        FB02-05:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-05\n          navn: Moderat kalkrike grunne innsjø-vannmassesystemer med enkelt fiskesamfunn\n        FB02-06:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-06\n          navn: Svært kalkrike grunne innsjø-vannmassesystemer med enkelt fiskesamfunn\n        FB02-07:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-07\n          navn: Svært kalkfattige og klare grunne innsjø-vannmassesystemer med middels\n            komplekst fiskesamfunn\n        FB02-08:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-08\n          navn: Svært kalkfattige og humøse grunne innsjø-vannmassesystemer med middels\n            komplekst fiskesamfunn\n        FB02-09:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-09\n          navn: Noe kalkfattige og klare grunne innsjø-vannmassesystemer med middels\n            komplekst fiskesamfunn\n        FB02-10:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-10\n          navn: Noe kalkfattige og humøse grunne innsjø-vannmassesystemer med middels\n            komplekst fiskesamfunn\n        FB02-11:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-11\n          navn: Moderat kalkrike grunne innsjø-vannmassesystemer med middels komplekst\n            fiskesamfunn\n        FB02-12:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-12\n          navn: Svært kalkrike grunne innsjø-vannmassesystemer med middels komplekst\n            fiskesamfunn\n        FB02-13:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-13\n          navn: Svært kalkfattige og klare grunne innsjø-vannmassesystemer med komplekst\n            fiskesamfunn\n        FB02-14:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-14\n          navn: Svært kalkfattige og humøse grunne innsjø-vannmassesystemer med komplekst\n            fiskesamfunn\n        FB02-15:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-15\n          navn: Noe kalkfattige og klare grunne innsjø-vannmassesystemer med komplekst\n            fiskesamfunn\n        FB02-16:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-16\n          navn: Noe kalkfattige og humøse grunne innsjø-vannmassesystemer med komplekst\n            fiskesamfunn\n        FB02-17:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-17\n          navn: Moderat kalkrike grunne innsjø-vannmassesystemer med komplekst fiskesamfunn\n        FB02-18:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB02-18\n          navn: Svært kalkrike grunne innsjø-vannmassesystemer med komplekst fiskesamfunn\n    NA-FB03:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FB03\n      navn: Elvevannmassesystemer\n      grunntyper:\n        FB03-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB03-01\n          navn: Elvevannmassesystemer uten fisk\n        FB03-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FB03-02\n          navn: Elvevannmassesystemer med fisk\n    NA-FC01:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FC01\n      navn: Bresjø-vannmassesystemer\n      grunntyper:\n        FC01-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC01-01\n          navn: Kalkfattige turbide bresjø-vannmassesystemer\n        FC01-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC01-02\n          navn: Kalkrike turbide bresjø-vannmassesystemer\n        FC01-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC01-03\n          navn: Svært turbide bresjø-vannmassesystemer\n    NA-FC02:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FC02\n      navn: Grottesjø-vannmassesystemer\n      grunntyper:\n        FC02-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC02-01\n          navn: Grottesjø-vannmassesystemer\n    NA-FC03:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FC03\n      navn: Limniske vannmassesystemer preget av naturlig gjødsling\n      grunntyper:\n        FC03-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC03-01\n          navn: Markert naturlig gjødslingspregede limniske vannmassesystemer\n        FC03-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC03-02\n          navn: Svært sterkt og disruptivt naturlig gjødslingspregede limniske vannmassesystemer\n    NA-FC04:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FC04\n      navn: Innsjø-vannmassesystemer preget av oksygenmangel\n      grunntyper:\n        FC04-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC04-01\n          navn: Innsjø-vannmassesystemer med periodisk oksygenmangel\n        FC04-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC04-02\n          navn: Oksygenfrie innsjø-vannmassesystemer betinget av gammelt havvann\n        FC04-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC04-03\n          navn: Oksygenfrie innsjø-vannmassesystemer betinget av saltholdig kildevann\n        FC04-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC04-04\n          navn: Oksygenfrie innsjø-vannmassesystemer betinget av jernholdig vann\n        FC04-05:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC04-05\n          navn: Oksygenfrie innsjø-vannmassesystemer betinget av kalkrikt vann\n        FC04-06:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC04-06\n          navn: Oksygenfrie innsjø-vannmassesystemer betinget av humusrikt vann\n    NA-FC05:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FC05\n      navn: Limniske vannmassesystemer på isoverflate\n      grunntyper:\n        FC05-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC05-01\n          navn: Limniske vannmassesystemer på breoverflate\n        FC05-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FC05-02\n          navn: Limniske vannmassesystemer på havis-overflate\n    NA-FM01:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FM01\n      navn: Nye innsjø-vannmassesystemer\n      grunntyper:\n        FM01-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-01\n          navn: Kalkfattige grunne nye innsjø-vannmassesystemer uten fisk\n        FM01-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-02\n          navn: Kalkfattige lagdelte nye innsjø-vannmassesystemer uten fisk\n        FM01-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-03\n          navn: Kalkrike grunne nye innsjø-vannmassesystemer uten fisk\n        FM01-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-04\n          navn: Kalkrike lagdelte nye innsjø-vannmassesystemer uten fisk\n        FM01-05:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-05\n          navn: Kalkfattige grunne nye innsjø-vannmassesystemer med fisk\n        FM01-06:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-06\n          navn: Kalkfattige lagdelte nye innsjø-vannmassesystemer med fisk\n        FM01-07:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-07\n          navn: Kalkrike grunne nye innsjø-vannmassesystemer med fisk\n        FM01-08:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM01-08\n          navn: Kalkrike lagdelte nye innsjø-vannmassesystemer med fisk\n    NA-FM02:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FM02\n      navn: Innsjø-vannmassesystemer preget av kronisk fysikalsk-kjemisk påvirkning\n      grunntyper:\n        FM02-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM02-01\n          navn: Kronisk kjemisk påvirkede innsjø-vannmassesystemer\n        FM02-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM02-02\n          navn: Kronisk saltpåvirkede innsjø-vannmassesystemer\n        FM02-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM02-03\n          navn: Kronisk eutrofierte innsjø-vannmassesystemer\n        FM02-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM02-04\n          navn: Kronisk forsurede innsjø-vannmassesystemer\n    NA-FM03:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FM03\n      navn: Innsjø-vannmassesystemer preget av introduksjon eller bortfall av strukturerende\n        organismer\n      grunntyper:\n        FM03-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM03-01\n          navn: Sterkt endrede kalkfattige innsjø-vannmassesystemer preget av introduksjon\n            eller bortfall av strukturerende organismer\n        FM03-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM03-02\n          navn: Sterkt endrede kalkrike innsjø-vannmassesystemer preget av introduksjon\n            eller bortfall av strukturerende organismer\n    NA-FM04:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FM04\n      navn: Elvevannmassesystemer preget av kronisk fysikalsk-kjemisk påvirkning\n      grunntyper:\n        FM04-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM04-01\n          navn: Sterkt forsurede elvevannmassesystemer\n    NA-FM05:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-FM05\n      navn: Elvevannmassesystemer preget av introduksjon eller bortfall av strukturerende\n        organismer\n      grunntyper:\n        FM05-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM05-01\n          navn: Sterkt endrede kalkfattige elvevannmassesystemer preget av introduksjon\n            eller bortfall av strukturerende organismer\n        FM05-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-FM05-02\n          navn: Sterkt endrede kalkrike elvevannmassesystemer preget av introduksjon\n            eller bortfall av strukturerende organismer\nNA-I:\n  langkode: NIN-3.0-T-C-PE-NA-MB-NA-I\n  navn: Snø- og issystemer\n  hovedtyper:\n    NA-IA01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-IA01\n      navn: Snø og isflater\n      kartleggingsenheter:\n        IA01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-IA01-M005-01\n          navn: Varig snø\n        IA01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-IA01-M005-02\n          navn: Jevn breoverflate\n        IA01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-IA01-M005-03\n          navn: Kryokonitt-preget breoverflate\n        IA01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-IA01-M005-04\n          navn: Polar havis-overside\nNA-L:\n  langkode: NIN-3.0-T-C-PE-NA-MB-NA-L\n  navn: Innsjøbunnsystemer\n  hovedtyper:\n    NA-LA01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LA01\n      navn: Eufotisk fast innsjøbunn\n      kartleggingsenheter:\n        LA01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-01\n          navn: Svært kalkfattig og beskyttet fast strandkant-innsjøbunn\n        LA01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-02\n          navn: Svært kalkfattig og eksponert fast strandkant-innsjøbunn\n        LA01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-03\n          navn: Svært kalkfattig beskyttet grunn fast innsjøbunn\n        LA01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-04\n          navn: Noe kalkfattig og beskyttet fast strandkant-innsjøbunn\n        LA01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-05\n          navn: Noe kalkfattig og eksponert fast strandkant-innsjøbunn\n        LA01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-06\n          navn: Noe kalkfattig beskyttet grunn fast innsjøbunn\n        LA01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-07\n          navn: Moderat kalkrik og beskyttet fast strandkant-innsjøbunn\n        LA01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-08\n          navn: Moderat kalkrik og eksponert fast strandkant-innsjøbunn\n        LA01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-09\n          navn: Moderat kalkrik beskyttet grunn fast innsjøbunn\n        LA01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-10\n          navn: Svært kalkrik og beskyttet fast strandkant-innsjøbunn\n        LA01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-11\n          navn: Svært kalkrik og eksponert fast strandkant-innsjøbunn\n        LA01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-12\n          navn: Svært kalkrik beskyttet grunn fast innsjøbunn\n        LA01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA01-M005-13\n          navn: Turbid eufotisk fast innsjøbunn\n    NA-LA02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LA02\n      navn: Eufotisk innsjø-sedimentbunn\n      kartleggingsenheter:\n        LA02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-01\n          navn: Svært kalkfattig innsjø-sedimentbunn av silt til sand i strandkant\n        LA02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-02\n          navn: Noe kalkfattig innsjø-sedimentbunn av silt til sand i strandkant\n        LA02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-03\n          navn: Svært kalkfattig innsjø-sedimentbunn av silt til sand i plantebeltet\n        LA02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-04\n          navn: Noe kalkfattig innsjø-sedimentbunn av silt til sand i plantebeltet\n        LA02-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-05\n          navn: Svært kalkfattig innsjø-sedimentbunn av grus i strandkant og plantebeltet\n        LA02-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-06\n          navn: Noe kalkfattig innsjø-sedimentbunn av grus i strandkant og plantebeltet\n        LA02-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-07\n          navn: Kalkfattig innsjø-sedimentbunn av stein til blokker i strandkant og\n            karplantebeltet\n        LA02-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-08\n          navn: Moderat kalkrik innsjø-sedimentbunn av silt til sand i strandkant\n            og plantebeltet\n        LA02-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-09\n          navn: Svært kalkrik innsjø-sedimentbunn av silt til sand i strandkant og\n            plantebeltet\n        LA02-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-10\n          navn: Kalkrik innsjø-sedimentbunn av leire i strandkant og karplantebeltet\n        LA02-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-11\n          navn: Moderat kalkrik innsjø-sedimentbunn av grus i strandkant og plantebeltet\n        LA02-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-12\n          navn: Svært kalkrik innsjø-sedimentbunn av grus i strandkant og karplantebeltet\n        LA02-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-13\n          navn: Kalkrik innsjø-sedimentbunn av stein til blokker i strandkant og plantebeltet\n        LA02-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-14\n          navn: Turbid innsjø-sedimentbunn\n        LA02-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA02-M005-15\n          navn: Pusleplante-innsjøbunn\n    NA-LA03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LA03\n      navn: Afotisk innsjøbunn\n      kartleggingsenheter:\n        LA03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA03-M005-01\n          navn: Svært kalkfattig afotisk innsjøbunn\n        LA03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA03-M005-02\n          navn: Noe kalkfattig afotisk innsjøbunn\n        LA03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA03-M005-03\n          navn: Kalkrik afotisk innsjøbunn\n        LA03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LA03-M005-04\n          navn: Innsjøbunn i grotte\n    NA-LB01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LB01\n      navn: Helofytt-ferskvannssump\n      kartleggingsenheter:\n        LB01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LB01-M005-01\n          navn: Kalkfattig helofytt-ferskvannssump\n        LB01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LB01-M005-02\n          navn: Moderat kalkrik helofytt-ferskvannssump\n        LB01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LB01-M005-03\n          navn: Svært kalkrik helofytt-ferskvannssump\n    NA-LB02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LB02\n      navn: Innsjø-undervannseng\n      kartleggingsenheter:\n        LB02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LB02-M005-01\n          navn: Kalkfattig undervannseng i innsjø\n        LB02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LB02-M005-02\n          navn: Moderat kalkrik undervannseng i innsjø\n        LB02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LB02-M005-03\n          navn: Svært kalkrik undervannseng i innsjø\n    NA-LC01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LC01\n      navn: Myrtorv-innsjøbunn\n      kartleggingsenheter:\n        LC01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC01-M005-01\n          navn: Svært kalkfattig flarkgjøl-bunn på fast torv\n        LC01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC01-M005-02\n          navn: Noe kalkfattig flarkgjøl-bunn på fast torv\n        LC01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC01-M005-03\n          navn: Moderat kalkrik flarkgjøl-bunn på fast torv\n        LC01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC01-M005-04\n          navn: Svært kalkrik flarkgjøl-bunn på fast torv\n        LC01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC01-M005-05\n          navn: Høljegjøl-bunn på fast torv\n    NA-LC02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LC02\n      navn: Dy- og gytjebunn i innsjø\n      kartleggingsenheter:\n        LC02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC02-M005-01\n          navn: Svært kalkfattig innsjøbunn av dy og gytje\n        LC02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC02-M005-02\n          navn: Noe kalkfattig innsjøbunn av dy og gytje\n        LC02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC02-M005-03\n          navn: Moderat kalkrik innsjøbunn av dy og gytje\n        LC02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC02-M005-04\n          navn: Svært kalkrik innsjøbunn av dy og gytje\n    NA-LC03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LC03\n      navn: Innsjøbunn som består av grovt organisk materiale\n      kartleggingsenheter:\n        LC03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC03-M005-01\n          navn: Kalkfattig innsjøbunn av grovt organisk materiale\n        LC03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC03-M005-02\n          navn: Kalkrik innsjøbunn av grovt organisk materiale\n    NA-LC04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LC04\n      navn: Innsjøbunn preget av oksygenmangel\n      kartleggingsenheter:\n        LC04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC04-M005-01\n          navn: Innsjøbunn med periodisk oksygenmangel\n        LC04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC04-M005-02\n          navn: Anoksisk innsjøbunn med gammelt havvann\n        LC04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC04-M005-03\n          navn: Anoksisk innsjøbunn betinget av saltholdig kildevann\n        LC04-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC04-M005-04\n          navn: Anoksisk innsjøbunn betinget av jernholdig vann\n        LC04-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC04-M005-05\n          navn: Anoksisk innsjøbunn betinget av kalkrikt vann\n        LC04-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC04-M005-06\n          navn: Anoksisk innsjøbunn betinget av humusrikt vann\n        LC04-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC04-M005-07\n          navn: Anoksisk innsjøbunn betinget av svovelrikt vann\n    NA-LC05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LC05\n      navn: Innsjø-isbunn\n      kartleggingsenheter:\n        LC05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC05-M005-01\n          navn: Breoverflate-innsjøbunn\n        LC05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC05-M005-02\n          navn: Havis-overflate-innsjøbunn\n    NA-LC06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LC06\n      navn: Innsjø-sedimentbunn betinget av naturlig gjødsling\n      kartleggingsenheter:\n        LC06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC06-M005-01\n          navn: Markert naturlig gjødslingspreget innsjøbunn\n        LC06-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LC06-M005-02\n          navn: Svært sterkt og disruptivt naturlig gjødslingspreget innsjøbunn\n    NA-LG01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LG01\n      navn: Ny innsjøbunn\n      kartleggingsenheter:\n        LG01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LG01-M005-01\n          navn: Ny innsjøbunn\n    NA-LJ01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LJ01\n      navn: Klart endret innsjøbunn preget av næringsstoff-overbelastning\n      kartleggingsenheter:\n        LJ01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LJ01-M005-01\n          navn: Klart endret innsjøbunn preget av næringsstoff-overbelastning\n    NA-LM01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LM01\n      navn: Ny sterkt endret innsjøbunn\n      kartleggingsenheter:\n        LM01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM01-M005-01\n          navn: Sterkt endret ny fast innsjøbunn\n        LM01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM01-M005-02\n          navn: Kalkfattig syntetisk innsjøbunn\n        LM01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM01-M005-03\n          navn: Kalkrik syntetisk innsjøbunn\n        LM01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM01-M005-04\n          navn: Kalkfattig ny innsjø-sedimentbunn\n        LM01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM01-M005-05\n          navn: Kalkrik ny innsjø-sedimentbunn\n    NA-LM02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LM02\n      navn: Ny innsjøbunn med opphav i elvebunn\n      kartleggingsenheter:\n        LM02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM02-M005-01\n          navn: Kalkfattig ny innsjøbunn fra elvebunn\n        LM02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM02-M005-02\n          navn: Kalkrik ny innsjøbunn fra elvebunn\n    NA-LM03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LM03\n      navn: Ny innsjøbunn med opphav i våtmarkssystemer\n      kartleggingsenheter:\n        LM03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM03-M005-01\n          navn: Kalkfattig ny innsjøbunn fra våtmarkssystemer\n        LM03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM03-M005-02\n          navn: Kalkrik ny innsjøbunn fra våtmarkssystemer\n    NA-LM04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LM04\n      navn: Innsjøbunn preget av kronisk fysisk forstyrrelse\n      kartleggingsenheter:\n        LM04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM04-M005-01\n          navn: Kalkfattig kronisk fysisk forstyrret innsjøbunn\n        LM04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM04-M005-02\n          navn: Kalkrik kronisk fysisk forstyrret innsjøbunn\n        LM04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM04-M005-03\n          navn: Reguleringssone i innsjø\n    NA-LM05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-LM05\n      navn: Innsjøbunn preget av kronisk fysikalsk-kjemisk påvirkning\n      kartleggingsenheter:\n        LM05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM05-M005-01\n          navn: Kronisk kjemisk påvirket innsjøbunn\n        LM05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM05-M005-02\n          navn: Kronisk saltpåvirket innsjøbunn\n        LM05-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM05-M005-03\n          navn: Kronisk forsuret eller eutrofiert innsjøbunn\n        LM05-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-LM05-M005-04\n          navn: Kronisk forsuret fast innsjøbunn\nNA-M:\n  langkode: NIN-3.0-T-C-PE-NA-MB-NA-M\n  navn: Marine bunnsystemer\n  hovedtyper:\n    NA-MA01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MA01\n      navn: Fast saltvanns-fjærebeltebunn\n      kartleggingsenheter:\n        MA01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA01-M005-01\n          navn: Beskyttet fast saltvanns-fjærebeltebunn i hydro- til geollittoral\n        MA01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA01-M005-02\n          navn: Moderat eksponert fast saltvanns-fjærebeltebunn i hydro- til geollittoral\n        MA01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA01-M005-03\n          navn: Ganske til svært eksponert fast saltvanns-fjærebeltebunn i hydro-\n            til geollittoral\n        MA01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA01-M005-04\n          navn: Trådalgedominert fast saltvanns-fjærebeltebunn\n    NA-MA02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MA02\n      navn: Eufotisk fast saltvannsbunn\n      kartleggingsenheter:\n        MA02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-01\n          navn: Beskyttet fast saltvannsbunn og bergvegg ovenfor rødalgebeltet\n        MA02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-02\n          navn: Sagtang-saltvannsbunn\n        MA02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-03\n          navn: Fingertarebunn\n        MA02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-04\n          navn: Trådalgedominert saltvanns-fastbunn\n        MA02-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-05\n          navn: Sukkertarebunn\n        MA02-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-06\n          navn: Stortarebunn\n        MA02-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-07\n          navn: Butarebunn\n        MA02-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-08\n          navn: Ekstremt eksponert fast eufotisk saltvannsbunn\n        MA02-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-09\n          navn: Beskyttet saltvannsbunn og bergvegg i rødalgebeltet\n        MA02-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-10\n          navn: Moderat eksponert saltvanns-rødalgebunn\n        MA02-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-11\n          navn: Ganske til svært eksponert saltvanns-rødalgebunn\n        MA02-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-12\n          navn: Moderat til ganske eksponert fast saltvannsbunn med store hulrom ovenfor\n            rødalgebeltet\n        MA02-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-13\n          navn: Moderat til ganske eksponert fast saltvannsbunn med store hulrom i\n            rødalgebeltet\n        MA02-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA02-M005-14\n          navn: Svært til ekstremt eksponert eufotisk fast saltvannsbunn med store\n            hulrom\n    NA-MA03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MA03\n      navn: Afotisk fast saltvannsbunn\n      kartleggingsenheter:\n        MA03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-01\n          navn: Beskyttet afotisk fastbunn i kystvann\n        MA03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-02\n          navn: Moderat eksponert afotisk fastbunn i kystvann\n        MA03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-03\n          navn: Ganske eksponert afotisk fastbunn i kystvann\n        MA03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-04\n          navn: Beskyttet afotisk fastbunn i atlantisk vann\n        MA03-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-05\n          navn: Litt beskyttet til litt eksponert afotisk fastbunn i atlantisk vann\n        MA03-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-06\n          navn: Beskyttet fastbunn i intermediært vann\n        MA03-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-07\n          navn: Litt beskyttet til litt eksponert fastbunn i intermediært vann\n        MA03-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-08\n          navn: Beskyttet fastbunn i dyphavsvann\n        MA03-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-09\n          navn: Litt beskyttet til litt eksponert fastbunn i dyphavsvann\n        MA03-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-10\n          navn: Beskyttet afotisk fastbunn i arktisk vann\n        MA03-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA03-M005-11\n          navn: Litt beskyttet til litt eksponert afotisk fastbunn i arktisk vann\n    NA-MA04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MA04\n      navn: Fjærebelte-sedimentbunn\n      kartleggingsenheter:\n        MA04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-01\n          navn: Finmaterialfattig uorganisk marin sandbunn i nedre vannstrandbelte\n        MA04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-02\n          navn: Finmaterialfattig uorganisk marin grusbunn i nedre vannstrandbelte\n        MA04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-03\n          navn: Finmaterialfattig uorganisk marin steinbunn i nedre vannstrandbelte\n        MA04-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-04\n          navn: Noe finmaterialrik uorganisk marin sand- og grusbunn i nedre vannstrandbelte\n        MA04-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-05\n          navn: Finmaterialrik til -dominert uorganisk marin leire- og siltbunn i\n            hydrolittoral til nederste geolittoral\n        MA04-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-06\n          navn: Finmaterialfattig uorganisk marin sandbunn i øvre vannstrandbelte\n            til midtre landstrandbelte\n        MA04-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-07\n          navn: Finmaterialfattig uorganisk marin grusbunn i øvre vannstrandbelte\n            til marint landstrandbelte\n        MA04-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-08\n          navn: Finmaterialfattig uorganisk marin steinbunn i øvre vannstrandbelte\n            til midtre landstrandbelte\n        MA04-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-09\n          navn: Noe finmaterialrik uorganisk marin sand- og grusbunn i øvre vannstrandbelte\n            til midtre landstrandbelte\n        MA04-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-10\n          navn: Finmaterialfattig skjellsand- og ruglbunn i hydrolittoral\n        MA04-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA04-M005-11\n          navn: Fjærebeltebunn av konsolidert leire\n    NA-MA05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MA05\n      navn: Eufotisk saltvanns-sedimentbunn\n      kartleggingsenheter:\n        MA05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-01\n          navn: Finmaterialfattig uorganisk saltvanns-sandbunn ovenfor rødalgebeltet\n        MA05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-02\n          navn: Finmaterialfattig uorganisk saltvanns-grusbunn ovenfor rødalgebeltet\n        MA05-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-03\n          navn: Finmaterialfattig uorganisk saltvanns-steinbunn ovenfor rødalgebeltet\n        MA05-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-04\n          navn: Noe finmaterialrik uorganisk saltvanns-sandbunn ovenfor rødalgebeltet\n        MA05-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-05\n          navn: Noe finmaterialrik uorganisk saltvanns-grusbunn ovenfor rødalgebeltet\n        MA05-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-06\n          navn: Finmaterialrik til -dominert uorganisk saltvanns-sedimentbunn av leire\n            og silt ovenfor rødalgebeltet\n        MA05-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-07\n          navn: Finmaterialfattig uorganisk saltvanns-sandbunn i rødalgebeltet\n        MA05-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-08\n          navn: Finmaterialfattig uorganisk saltvanns-grusbunn i rødalgebeltet\n        MA05-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-09\n          navn: Noe finmaterialrik uorganisk saltvanns-sandbunn i rødalgebeltet\n        MA05-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-10\n          navn: Noe finmaterialrik uorganisk saltvanns-grusbunn i rødalgebeltet\n        MA05-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-11\n          navn: Finmaterialrik til -dominert saltvanns-sedimentbunn av leire og silt\n            i rødalgebeltet\n        MA05-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-12\n          navn: Eufotisk saltvanns-skjellsand-ruglbunn\n        MA05-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-13\n          navn: Eufotisk saltvanns-sedimentbunn av myrtorv\n        MA05-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-14\n          navn: Eufotisk saltvanns-sedimentbunn av dy- og gytje\n        MA05-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA05-M005-15\n          navn: Eufotisk saltvanns-sedimentbunn av konsolidert leire\n    NA-MA06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MA06\n      navn: Afotisk saltvanns-sedimentbunn\n      kartleggingsenheter:\n        MA06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-01\n          navn: Afotisk finmaterialfattig uorganisk sandbunn i kystvann\n        MA06-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-02\n          navn: Afotisk finmaterialfattig uorganisk grusbunn i kystvann\n        MA06-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-03\n          navn: Afotisk noe finmaterialrik uorganisk sandbunn i kystvann\n        MA06-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-04\n          navn: Afotisk noe finmaterialrik uorganisk grusbunn i kystvann\n        MA06-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-05\n          navn: Afotisk finmaterialrik til -dominert dy- og gytjebunn i kystvann\n        MA06-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-06\n          navn: Afotisk finmaterialfattig uorganisk sandbunn i atlantisk vann\n        MA06-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-07\n          navn: Afotisk finmaterialfattig uorganisk grusbunn i atlantisk vann\n        MA06-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-08\n          navn: Afotisk noe finmaterialrik uorganisk sandbunn i atlantisk vann\n        MA06-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-09\n          navn: Afotisk noe finmaterialrik uorganisk grusbunn i atlantisk vann\n        MA06-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-10\n          navn: Afotisk finmaterialrik til -dominert dy- og gytjebunn i atlantisk\n            vann\n        MA06-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-11\n          navn: Finmaterialfattig uorganisk sandbunn i intermediært vann\n        MA06-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-12\n          navn: Finmaterialfattig uorganisk grusbunn i intermediært vann\n        MA06-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-13\n          navn: Noe finmaterialrik uorganisk sandbunn i intermediært vann\n        MA06-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-14\n          navn: Noe finmaterialrik uorganisk grusbunn i intermediært vann\n        MA06-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-15\n          navn: Finmaterialrik til -dominert dy- og gytjebunn i intermediært vann\n        MA06-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-16\n          navn: Finmaterialfattig uorganisk sandbunn i dyphavsvann\n        MA06-M005-17:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-17\n          navn: Finmaterialfattig uorganisk grusbunn i dyphavsvann\n        MA06-M005-18:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-18\n          navn: Noe finmaterialrik uorganisk sandbunn i dyphavsvann\n        MA06-M005-19:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-19\n          navn: Noe finmaterialrik uorganisk grusbunn i dyphavsvann\n        MA06-M005-20:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-20\n          navn: Finmaterialrik til -dominert dy- og gytjebunn i dyphavsvann\n        MA06-M005-21:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-21\n          navn: Afotisk finmaterialfattig uorganisk sandbunn i arktisk vann\n        MA06-M005-22:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-22\n          navn: Afotisk finmaterialfattig uorganisk grusbunn i arktisk vann\n        MA06-M005-23:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-23\n          navn: Afotisk noe finmaterialrik uorganisk sandbunn i arktisk vann\n        MA06-M005-24:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-24\n          navn: Afotisk noe finmaterialrik uorganisk grusbunn i arktisk vann\n        MA06-M005-25:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-25\n          navn: Afotisk finmaterialrik til -dominert dy- og gytjebunn i arktisk vann\n        MA06-M005-26:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-26\n          navn: Afotisk skjellsandbunn\n        MA06-M005-27:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-27\n          navn: Svampspikelbunn\n        MA06-M005-28:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-28\n          navn: Korallgrusbunn\n        MA06-M005-29:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-29\n          navn: Afotisk saltvannsbunn av dy og gytje\n        MA06-M005-30:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-30\n          navn: Afotisk saltvannsbunn av konsolidert leire\n        MA06-M005-31:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MA06-M005-31\n          navn: Overveiende uorganisk dyphavsvannssedimentbunn med abyssal næringstilførselsreduksjon\n    NA-MB01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MB01\n      navn: Marin helofyttsump\n      kartleggingsenheter:\n        MB01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MB01-M005-01\n          navn: Salt helofyttsump\n        MB01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MB01-M005-02\n          navn: Nokså brakk helofyttsump\n        MB01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MB01-M005-03\n          navn: Ekstrembrakk helofyttsump\n    NA-MB02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MB02\n      navn: Saltvanns-undervannseng\n      kartleggingsenheter:\n        MB02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MB02-M005-01\n          navn: Saltvanns-undervannseng\n    NA-MB03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MB03\n      navn: Korallrev\n      kartleggingsenheter:\n        MB03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MB03-M005-01\n          navn: Kysttilknyttet korallrev-bunn\n        MB03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MB03-M005-02\n          navn: Havtilknyttet korallrev-bunn\n    NA-MC01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC01\n      navn: Fast brakkvanns-fjærebeltebunn\n      kartleggingsenheter:\n        MC01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC01-M005-01\n          navn: Nokså brakk fast fjærebeltebunn\n        MC01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC01-M005-02\n          navn: Ekstrembrakk fast fjærebeltebunn\n    NA-MC02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC02\n      navn: Fast brakkvannsbunn\n      kartleggingsenheter:\n        MC02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-01\n          navn: Bunn preget av trådalger i nokså brakt vann ovenfor rødalgebeltet\n        MC02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-02\n          navn: Moderat eksponert fastbunn i nokså brakt vann i nedre sjøkantbeltet\n        MC02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-03\n          navn: Ganske eksponert bergvegg i nokså brakt vann i nedre sjøkantbeltet\n        MC02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-04\n          navn: Moderat eksponert fastbunn i nokså brakt vann i sjøkantnær til midtre\n            sublitoral\n        MC02-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-05\n          navn: Ganske eksponert fastbunn i nokså brakt vann i sjøkantnær til midtre\n            sublitoral\n        MC02-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-06\n          navn: Fastbunn i nokså brakt vann i rødalgebeltet\n        MC02-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-07\n          navn: Bunn preget av trådalger i ekstrem-brakt vann ovenfor rødalgebeltet\n        MC02-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-08\n          navn: Moderat til ganske eksponert fastbunn i ekstrem-brakt vann ovenfor\n            rødalgebeltet\n        MC02-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC02-M005-09\n          navn: Godt beskyttet bergvegg i nokså brakt vann ovenfor rødalgebeltet\n    NA-MC03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC03\n      navn: Littoralbassengbunn\n      kartleggingsenheter:\n        MC03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC03-M005-01\n          navn: Finmaterialfattig permanent littoralbassengbunn i geolittoral\n        MC03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC03-M005-02\n          navn: Finmaterialrik permanent littoralbassengbunn i geolittoral\n        MC03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC03-M005-03\n          navn: Permanent litoralbassengbunn i supralittoral\n        MC03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC03-M005-04\n          navn: Temporært litoralbassengbunn i supralittoral\n    NA-MC04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC04\n      navn: Brakkvanns-sedimentbunn\n      kartleggingsenheter:\n        MC04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-01\n          navn: Nokså brakk finmaterialfattig bunn av uorganisk substrat\n        MC04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-02\n          navn: Nokså brakk noe finmaterialrik bunn av uorganisk substrat\n        MC04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-03\n          navn: Nokså brakk finmaterialrik bunn av uorganisk substrat\n        MC04-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-04\n          navn: Ekstrembrakk finmaterialfattig bunn av uorganisk substrat\n        MC04-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-05\n          navn: Ekstrembrakk noe finmaterialrik bunn av uorganisk substrat\n        MC04-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-06\n          navn: Ekstrembrakk finmaterialrik bunn av uorganisk substrat\n        MC04-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-07\n          navn: Nokså brakk dy- og gytjebunn\n        MC04-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-08\n          navn: Ekstrembrakk moderat kalkrik dy- og gytjebunn\n        MC04-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-09\n          navn: Ekstrembrakk svært kalkrik dy- og gytjebunn\n        MC04-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC04-M005-10\n          navn: Brakkvannsbunn preget av disruptiv sedimentasjon\n    NA-MC05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC05\n      navn: Marine grotter og overheng\n      kartleggingsenheter:\n        MC05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC05-M005-01\n          navn: Marine grotter og overheng i øvre sjøkantbelte\n        MC05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC05-M005-02\n          navn: Marine grotter og overheng ovenfor rødalgebeltet\n        MC05-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC05-M005-03\n          navn: Marine grotter og overheng i rødalgebeltet og det afotiske beltet\n    NA-MC06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC06\n      navn: Kald havkilde\n      kartleggingsenheter:\n        MC06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC06-M005-01\n          navn: Vann- og gassførende kald havkilde i atlantisk vann\n        MC06-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC06-M005-02\n          navn: Mudderførende kald havkilde i atlantisk vann\n        MC06-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC06-M005-03\n          navn: Vann- og gassførende kald havkilde i intermediært vann\n        MC06-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC06-M005-04\n          navn: Mudderførende kald havkilde i intermediært vann\n        MC06-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC06-M005-05\n          navn: Vann- og gassførende kald havkilde i dyphavsvann\n    NA-MC07:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC07\n      navn: Varm havkilde\n      kartleggingsenheter:\n        MC07-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC07-M005-01\n          navn: Litt til klart jordvarmepåvirket varm havkilde\n        MC07-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC07-M005-02\n          navn: Temmelig til sterkt jordvarmepåvirket varm havkilde\n        MC07-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC07-M005-03\n          navn: Svært sterkt til disruptivt jordvarmepåvirket varm havkilde\n    NA-MC08:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC08\n      navn: Marint bunnsystem preget av oksygenmangel\n      kartleggingsenheter:\n        MC08-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC08-M005-01\n          navn: Eufotisk periodisk oksygenfri marin bunn\n        MC08-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC08-M005-02\n          navn: Eufotisk oksygenfri marin bunn\n        MC08-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC08-M005-03\n          navn: Afotisk periodisk oksygenfri marin bunn\n        MC08-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC08-M005-04\n          navn: Afotisk oksygenfri marin bunn\n    NA-MC09:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC09\n      navn: Havisbunn\n      kartleggingsenheter:\n        MC09-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC09-M005-01\n          navn: Temmelig til normalsalt havisbunn\n        MC09-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC09-M005-02\n          navn: Brakkvannspreget havisbunn\n    NA-MC10:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MC10\n      navn: Havis-underside\n      kartleggingsenheter:\n        MC10-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MC10-M005-01\n          navn: Havis-underside\n    NA-MF01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MF01\n      navn: Brakkvanns-undervannseng\n      kartleggingsenheter:\n        MF01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MF01-M005-01\n          navn: Undervannseng i nokså brakt vann\n        MF01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MF01-M005-02\n          navn: Undervannseng i ekstrembrakt vann\n    NA-MJ01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MJ01\n      navn: Taretrålingsbunn\n      kartleggingsenheter:\n        MJ01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MJ01-M005-01\n          navn: Taretrålingsbunn\n    NA-MM01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MM01\n      navn: Sterkt endret eller ny marin bunn\n      kartleggingsenheter:\n        MM01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM01-M005-01\n          navn: Sterkt endret eller ny marin fastbunn i øvre sjøkantbelte\n        MM01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM01-M005-02\n          navn: Sterkt endret eller ny marin fastbunn i nedre sjøkantbelte til rødalgebeltet\n        MM01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM01-M005-03\n          navn: Sterkt endret eller ny marin fastbunn i afotisk sone\n        MM01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM01-M005-04\n          navn: Sterkt endret eller ny uorganisk finmaterialfattig marin bunn\n        MM01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM01-M005-05\n          navn: Sterkt endret eller ny uorganisk noe finmaterialrik til -dominert\n            marin bunn\n        MM01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM01-M005-06\n          navn: Sterkt endret eller ny marin bunn av dy og gytje\n    NA-MM02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-MM02\n      navn: Sterkt endret marin bunn preget av kronisk kjemisk påvirkning\n      kartleggingsenheter:\n        MM02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM02-M005-01\n          navn: Sterkt endret marin fastbunn preget av kronisk kjemisk påvirkning\n        MM02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-MM02-M005-02\n          navn: Sterkt endret marin bunn av uorganisk substrat preget av kronisk kjemisk\n            påvirkning\nNA-O:\n  langkode: NIN-3.0-T-C-PE-NA-MB-NA-O\n  navn: Elvebunnsystemer\n  hovedtyper:\n    NA-OA01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OA01\n      navn: Fast elvebunn\n      kartleggingsenheter:\n        OA01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-01\n          navn: Ekstremt kalkfattig fastbunn i klar og rolig elv\n        OA01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-02\n          navn: Ekstremt kalkfattig fastbunn i klar elv med stryk\n        OA01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-03\n          navn: Svært kalkfattig fastbunn i klar og rolig elv\n        OA01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-04\n          navn: Svært kalkfattig fastbunn i klar elv med stryk\n        OA01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-05\n          navn: Noe kalkfattig fastbunn i klar og rolig elv\n        OA01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-06\n          navn: Noe kalkfattig fastbunn i klar elv med stryk\n        OA01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-07\n          navn: Moderat kalkrik fastbunn i klar og rolig elv\n        OA01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-08\n          navn: Moderat kalkrik fastbunn i klar elv med stryk\n        OA01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-09\n          navn: Svært kalkrik fastbunn i klar og rolig elv\n        OA01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-10\n          navn: Svært kalkrik fastbunn i klar elv med stryk\n        OA01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-11\n          navn: Ekstremt og svært kalkfattig fastbunn i humøs og rolig elv\n        OA01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-12\n          navn: Ekstremt og svært kalkfattig fastbunn i humøs elv med stryk\n        OA01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-13\n          navn: Noe kalkfattig og kalkrik fastbunn i humøs og rolig elv\n        OA01-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-14\n          navn: Noe kalkfattig og kalkrik fastbunn i humøs elv med stryk\n        OA01-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-15\n          navn: Turbid fast elvebunn\n        OA01-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA01-M005-16\n          navn: Fast elvebunn i grotte\n    NA-OA02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OA02\n      navn: Elvesedimentbunn\n      kartleggingsenheter:\n        OA02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-01\n          navn: Svært til ekstremt kalkfattig silt- til sandbunn i klar elv\n        OA02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-02\n          navn: Svært til ekstremt kalkfattig grusbunn i klar elv\n        OA02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-03\n          navn: Ekstremt kalkfattig steinbunn i klar elv\n        OA02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-04\n          navn: Svært kalkfattig steinbunn i klar elv\n        OA02-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-05\n          navn: Noe kalkfattig til kalkrik silt- til sandbunn i klar elv\n        OA02-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-06\n          navn: Noe kalkfattig til kalkrik grusbunn i klar elv\n        OA02-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-07\n          navn: Noe kalkfattig steinbunn i klar elv\n        OA02-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-08\n          navn: Kalkrik steinbunn i klar elv\n        OA02-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-09\n          navn: Silt- til sandbunn i humøs elv\n        OA02-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-10\n          navn: Grusbunn i humøs elv\n        OA02-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-11\n          navn: Svært kalkfattig steinbunn i humøs elv\n        OA02-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-12\n          navn: Noe kalkfattig steinbunn i humøs elv\n        OA02-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-13\n          navn: Kalkrik steinbunn i humøs elv\n        OA02-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-14\n          navn: Utstrømspåvirket svært til ekstremt kalkfattig elvebunn\n        OA02-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-15\n          navn: Utstrømspåvirket noe kalkfattig til kalkrik elvebunn\n        OA02-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-16\n          navn: Noe kalkfattig til kalkrik sedimentbunn i grotte\n        OA02-M005-17:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-17\n          navn: Turbid elvesedimentbunn\n        OA02-M005-18:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OA02-M005-18\n          navn: Pusleplante-elvebunn\n    NA-OB01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OB01\n      navn: Elve-undervannseng\n      kartleggingsenheter:\n        OB01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OB01-M005-01\n          navn: Kalkfattig undervannseng i elv\n        OB01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OB01-M005-02\n          navn: Kalkrik undervannseng i elv\n    NA-OC01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OC01\n      navn: Ferskvannskildebunn\n      kartleggingsenheter:\n        OC01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC01-M005-01\n          navn: Kalkfattig svak ferskvannskildebunn\n        OC01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC01-M005-02\n          navn: Kalkfattig sterk ferskvannskildebunn\n        OC01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC01-M005-03\n          navn: Kalkrik svak ferskvannskildebunn\n        OC01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC01-M005-04\n          navn: Kalkrik sterk ferskvannskildebunn\n    NA-OC02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OC02\n      navn: Varm ferskvannskildebunn\n      kartleggingsenheter:\n        OC02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC02-M005-01\n          navn: Silt- til steinbunn i varm ferskvannskilde\n        OC02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC02-M005-02\n          navn: Stein- til storblokket bunn i varm ferskvannskilde\n        OC02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC02-M005-03\n          navn: Svovelpåvirket bunn i varm ferskvannskilde\n    NA-OC03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OC03\n      navn: Dy- og gytjebunn i elv\n      kartleggingsenheter:\n        OC03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC03-M005-01\n          navn: Kalkfattig dy- og gytjebunn i elv\n        OC03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OC03-M005-02\n          navn: Kalkrik dy- og gytjebunn i elv\n    NA-OG01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OG01\n      navn: Ny elvebunn\n      kartleggingsenheter:\n        OG01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OG01-M005-01\n          navn: Ny elvebunn\n    NA-OM01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OM01\n      navn: Elvebunn preget av kronisk fysisk forstyrrelse\n      kartleggingsenheter:\n        OM01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OM01-M005-01\n          navn: Kalkfattig kronisk fysisk forstyrret elvebunn\n        OM01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OM01-M005-02\n          navn: Kalkrik kronisk fysisk forstyrret elvebunn\n        OM01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OM01-M005-03\n          navn: Turbid minstevannførings-strekning i elv\n    NA-OM02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-OM02\n      navn: Elvebunn preget av kronisk fysikalsk-kjemisk påvirkning\n      kartleggingsenheter:\n        OM02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OM02-M005-01\n          navn: Kronisk kjemisk påvirket elvebunn\n        OM02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-OM02-M005-02\n          navn: Kronisk forsuret elvebunn\nNA-S:\n  langkode: NIN-3.0-T-C-PE-NA-VM-NA-S\n  navn: Marine vannmassesystemer\n  hovedtyper:\n    NA-SA01:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SA01\n      navn: Eufotiske havvannmassesystemer\n      grunntyper:\n        SA01-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SA01-01\n          navn: Eufotiske havvannmassesystemeri Nordsjøen og Skagerrak\n        SA01-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SA01-02\n          navn: Eufotiske havvannmassesystemer i Norskehavet og Barentshavet sør for\n            iskanten\n    NA-SC01:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SC01\n      navn: Afotiske havvannmassesystemer\n      grunntyper:\n        SC01-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC01-01\n          navn: Afotiske atlantiske og arktiske havvannmassesystemer\n        SC01-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC01-02\n          navn: Afotiske intermediære og dypvanns-havvannmassesystemer\n    NA-SC02:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SC02\n      navn: Eufotiske fjordvannmassesystemer\n      grunntyper:\n        SC02-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC02-01\n          navn: Lite ferskvannspåvirkede eufotiske fjordvannmassesystemer i ytre fjord\n        SC02-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC02-02\n          navn: Moderat ferskvannspåvirkede eufotiske fjordvannmassesystemer i midtre\n            fjord\n        SC02-03:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC02-03\n          navn: Klart til sterkt ferskvannspåvirkede eufotiske fjordvannmassesystemer\n            i indre fjord\n        SC02-04:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC02-04\n          navn: Klart til sterkt ferskvannspåvirkede og humøse eufotiske fjordvannmassesystemer\n            i indre fjord\n        SC02-05:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC02-05\n          navn: Klart til sterkt ferskvannspåvirkede og turbide eufotiske fjordvannmassesystemer\n            i indre fjord\n    NA-SC03:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SC03\n      navn: Afotiske sirkulerende fjordvannmassesystemer\n      grunntyper:\n        SC03-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC03-01\n          navn: Afotiske sirkulerende fjordvannmassesystemer\n    NA-SC04:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SC04\n      navn: Marine vannmassesystemer preget av oksygenmangel\n      grunntyper:\n        SC04-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC04-01\n          navn: Periodisk oksygenfrie marine vannmassesystemer\n        SC04-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC04-02\n          navn: Oksygenfrie marine vannmassesystemer\n    NA-SC05:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SC05\n      navn: Marine vannmassesystemer i poller og littoralbasseng\n      grunntyper:\n        SC05-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC05-01\n          navn: Poll\n        SC05-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC05-02\n          navn: Littoralbasseng\n    NA-SC06:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SC06\n      navn: Marine vannmassesystemer nær og nord for iskanten\n      grunntyper:\n        SC06-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC06-01\n          navn: Vannmassesystemer i kontaktsonen ved polar havis\n        SC06-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC06-02\n          navn: Vannmassesystemer under polar havis\n    NA-SC07:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SC07\n      navn: Marine vannmassesystemer på polar havis\n      grunntyper:\n        SC07-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC07-01\n          navn: Ultrabrakke til klart brakke vannmassesystemer på polar havis-overflate\n        SC07-02:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SC07-02\n          navn: Brakke til normalsalte vannmassesystemer på polar havis-overflate\n    NA-SM01:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SM01\n      navn: Nye marine vannmassesystemer\n      grunntyper:\n        SM01-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SM01-01\n          navn: Nye marine vannmassesystemer\n    NA-SM02:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SM02\n      navn: Marine vannmassesystemer preget av kronisk fysisk påvirkning\n      grunntyper:\n        SM02-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SM02-01\n          navn: Marine vannmassesystemer preget av kronisk fysisk påvirkning\n    NA-SM03:\n      langkode: NIN-3.0-T-C-PE-NA-VM-A-SM03\n      navn: Marine vannmassesystemer preget av kronisk fysikalsk-kjemisk påvirkning\n      grunntyper:\n        SM03-01:\n          langkode: NIN-3.0-T-C-PE-NA-VM-SM03-01\n          navn: Marine vannmassesystemer preget av kronisk fysikalsk-kjemisk påvirkning\nNA-T:\n  langkode: NIN-3.0-T-C-PE-NA-MB-NA-T\n  navn: Fastmarkssystemer\n  hovedtyper:\n    NA-TA01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TA01\n      navn: Nakent berg\n      kartleggingsenheter:\n        TA01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-01\n          navn: Svært lite uttørkingseksponert svært kalkfattig nakent berg\n        TA01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-02\n          navn: Nokså lite uttørkingseksponert svært kalkfattig nakent berg\n        TA01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-03\n          navn: Nokså uttørkingseksponert svært kalkfattig nakent berg\n        TA01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-04\n          navn: Svært uttørkingseksponert svært kalkfattig nakent berg\n        TA01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-05\n          navn: Svært lite uttørkingseksponert noe kalkfattig nakent berg\n        TA01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-06\n          navn: Nokså lite uttørkingseksponert noe kalkfattig nakent berg\n        TA01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-07\n          navn: Nokså uttørkingseksponert noe kalkfattig nakent berg\n        TA01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-08\n          navn: Svært uttørkingseksponert noe kalkfattig nakent berg\n        TA01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-09\n          navn: Svært lite uttørkingseksponert noe kalkrikt nakent berg\n        TA01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-10\n          navn: Nokså lite uttørkingseksponert noe kalkrikt nakent berg\n        TA01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-11\n          navn: Nokså uttørkingseksponert noe kalkrikt nakent berg\n        TA01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-12\n          navn: Svært uttørkingseksponert noe kalkrikt nakent berg\n        TA01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-13\n          navn: Svært lite uttørkingseksponert klart kalkrikt nakent berg\n        TA01-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-14\n          navn: Nokså lite uttørkingseksponert klart kalkrikt nakent berg\n        TA01-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-15\n          navn: Nokså uttørkingseksponert klart kalkrikt nakent berg\n        TA01-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-16\n          navn: Svært uttørkingseksponert klart kalkrikt nakent berg\n        TA01-M005-17:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-17\n          navn: Svært lite uttørkingseksponert ekstremt kalkrikt nakent berg\n        TA01-M005-18:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-18\n          navn: Nokså lite uttørkingseksponert ekstremt kalkrikt nakent berg\n        TA01-M005-19:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-19\n          navn: Nokså uttørkingseksponert ekstremt kalkrikt nakent berg\n        TA01-M005-20:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-20\n          navn: Svært uttørkingseksponert ekstremt kalkrikt nakent berg\n        TA01-M005-21:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-21\n          navn: Kalkfattig snøleieberg\n        TA01-M005-22:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-22\n          navn: Kalkrikt snøleieberg\n        TA01-M005-23:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA01-M005-23\n          navn: Fuglestein og fugleberg\n    NA-TA02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TA02\n      navn: Åpen grunnlendt mark\n      kartleggingsenheter:\n        TA02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-01\n          navn: Kalkfattig åpen grunnlendt lyngmark\n        TA02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-02\n          navn: Intermediær til litt kalkrik åpen grunnlendt lyngmark\n        TA02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-03\n          navn: Temmelig til ekstremt kalkrik åpen grunnlendt lyngmark\n        TA02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-04\n          navn: Kalkfattig åpen grunnlendt lavmark\n        TA02-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-05\n          navn: Intermediær til litt kalkrik åpen grunnlendt lavmark\n        TA02-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-06\n          navn: Temmelig til ekstremt kalkrik åpen grunnlendt lavmark\n        TA02-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-07\n          navn: Kalkfattig grunnlendt åpen fukt-lyngmark\n        TA02-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-08\n          navn: Intermediær til litt kalkrik grunnlendt åpen fukt-lyngmark\n        TA02-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA02-M005-09\n          navn: Temmelig til ekstremt kalkrik grunnlendt åpen fukt-lyngmark\n    NA-TA03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TA03\n      navn: Arktisk-alpin hei og leside\n      kartleggingsenheter:\n        TA03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-01\n          navn: Kalkfattig leside\n        TA03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-02\n          navn: Intermediær til litt kalkrik leside\n        TA03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-03\n          navn: Temmelig til ekstremt kalkrik leside\n        TA03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-04\n          navn: Kalkfattig fjell-lynghei\n        TA03-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-05\n          navn: Intermediær til litt kalkrik fjell-lynghei\n        TA03-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-06\n          navn: Temmelig til ekstremt kalkrik fjell-lynghei\n        TA03-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-07\n          navn: Saltanriket ekstremrik fjell-lynghei\n        TA03-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-08\n          navn: Kalkfattig fjell-lavhei\n        TA03-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-09\n          navn: Intermediær til litt kalkrik fjell-lavhei\n        TA03-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-10\n          navn: Temmelig til ekstremt kalkrik fjell-lavhei\n        TA03-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-11\n          navn: Saltanriket ekstremrik fjell-lavhei\n        TA03-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-12\n          navn: Storbregne-fjelleng\n        TA03-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-13\n          navn: Høgstaude-fjelleng\n        TA03-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-14\n          navn: Kalkfattig fjell-fukthei\n        TA03-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-15\n          navn: Intermediær til svakt kalkfattig fjell-fukthei\n        TA03-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA03-M005-16\n          navn: Kalkrik fjell-fukteng\n    NA-TA04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TA04\n      navn: Arktisk-alpin grasmark\n      kartleggingsenheter:\n        TA04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA04-M005-01\n          navn: Kalkfattig arktisk-alpin grasmark\n        TA04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA04-M005-02\n          navn: Intermediær til litt kalkrik arktisk-alpin grasmark\n        TA04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TA04-M005-03\n          navn: Temmelig til ekstremt kalkrik arktisk-alpin grasmark\n    NA-TB01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TB01\n      navn: Fastmarksskogsmark\n      kartleggingsenheter:\n        TB01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-01\n          navn: Blåbærskog\n        TB01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-02\n          navn: Lågurtskog\n        TB01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-03\n          navn: Frisk kalkskog\n        TB01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-04\n          navn: Bærlyngskog\n        TB01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-05\n          navn: Bærlyng-lågurtskog\n        TB01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-06\n          navn: Kalk-bærlyngskog\n        TB01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-07\n          navn: Lyngskog\n        TB01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-08\n          navn: Lyng-lågurtskog\n        TB01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-09\n          navn: Kalk-lyngskog\n        TB01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-10\n          navn: Lavskog\n        TB01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-11\n          navn: Lav-lågurtskog\n        TB01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-12\n          navn: Kalk-lavskog\n        TB01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-13\n          navn: Blåbærfuktskog\n        TB01-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-14\n          navn: Storbregneskog\n        TB01-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-15\n          navn: Høgstaudeskog\n        TB01-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-16\n          navn: Lyngfuktskog\n        TB01-M005-17:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-17\n          navn: Intermediær lyngfuktskog\n        TB01-M005-18:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TB01-M005-18\n          navn: Kalkrik lyngfuktskog\n    NA-TC01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC01\n      navn: Strandberg\n      kartleggingsenheter:\n        TC01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC01-M005-01\n          navn: Kalkfattig til litt kalkrikt beskyttet til litt eksponert strandberg\n        TC01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC01-M005-02\n          navn: Sterkt kalkrikt strandberg\n        TC01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC01-M005-03\n          navn: Temmelig til ekstremt eksponert strandberg\n    NA-TC02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC02\n      navn: Grotte og overheng\n      kartleggingsenheter:\n        TC02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-01\n          navn: Knapt uttørkingseksponert kalkfattig overheng\n        TC02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-02\n          navn: Knapt uttørkingseksponert intermediært og litt kalkrikt overheng\n        TC02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-03\n          navn: Knapt uttørkingseksponert sterkt kalkrikt overheng\n        TC02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-04\n          navn: Kalkfattig til litt kalkrik grotte\n        TC02-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-05\n          navn: Kalkgrotte\n        TC02-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-06\n          navn: Uttørkingseksponert kalkfattig overheng\n        TC02-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-07\n          navn: Uttørkingseksponert intermediært og litt kalkrikt overheng\n        TC02-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC02-M005-08\n          navn: Uttørkingseksponert sterkt kalkrikt overheng\n    NA-TC03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC03\n      navn: Løsmasse-strand\n      kartleggingsenheter:\n        TC03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC03-M005-01\n          navn: Leirestrand i geolittoral\n        TC03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC03-M005-02\n          navn: Siltstrand i geolittoral\n        TC03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC03-M005-03\n          navn: Sand- til grus-strand i geo-til supralittoral\n        TC03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC03-M005-04\n          navn: Stein- til blokkstrand i geo- til supralittoral\n        TC03-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC03-M005-05\n          navn: Storblokket strand i geo- til supralittoral\n        TC03-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC03-M005-06\n          navn: Skjellsand- og ruglbunn-strand\n    NA-TC04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC04\n      navn: Saltanrikningsmark\n      kartleggingsenheter:\n        TC04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC04-M005-01\n          navn: Saltanrikningsmark\n    NA-TC05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC05\n      navn: Strandeng\n      kartleggingsenheter:\n        TC05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC05-M005-01\n          navn: Strandeng i nederste- til midtre landstrandbelte\n        TC05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC05-M005-02\n          navn: Strandeng i øverste landstrandbelte til bølgebeltet\n        TC05-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC05-M005-03\n          navn: Brakkvanns-strandeng\n    NA-TC06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC06\n      navn: Fuglefjell-eng\n      kartleggingsenheter:\n        TC06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC06-M005-01\n          navn: Klart naturlig gjødslingspreget fuglefjell-eng\n        TC06-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC06-M005-02\n          navn: Sterkt naturlig til overgjødslet fuglefjell-eng\n        TC06-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC06-M005-03\n          navn: Høgstaude-fuglefjelleng\n    NA-TC07:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC07\n      navn: Fugletopp\n      kartleggingsenheter:\n        TC07-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC07-M005-01\n          navn: Fugletopp\n    NA-TC08:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TC08\n      navn: Snøleie\n      kartleggingsenheter:\n        TC08-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-01\n          navn: Kalkfattig moderat snøleie\n        TC08-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-02\n          navn: Intermediært til litt kalkrikt moderat snøleie\n        TC08-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-03\n          navn: Sterkt kalkrikt moderat snøleie\n        TC08-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-04\n          navn: Kalkfattig seint snøleie\n        TC08-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-05\n          navn: Intermediært til litt kalkrikt seint snøleie\n        TC08-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-06\n          navn: Sterkt kalkrikt seint snøleie\n        TC08-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-07\n          navn: Fattig til litt kalkrikt ekstrem-snøleie\n        TC08-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-08\n          navn: Sterkt kalkrikt ekstrem-snøleie\n        TC08-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TC08-M005-09\n          navn: Vegetasjonsfritt snøleie\n    NA-TD01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TD01\n      navn: Rasmark\n      kartleggingsenheter:\n        TD01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-01\n          navn: Kalkfattig sand- og grus-rasmark\n        TD01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-02\n          navn: Intermediær til litt kalkrik sand- og grus-rasmark\n        TD01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-03\n          navn: Sterkt kalkrik sand- og grus-rasmark\n        TD01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-04\n          navn: Kalkfattig stein- og blokk-rasmark\n        TD01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-05\n          navn: Intermediær til litt kalkrik stein- og blokk-rasmark\n        TD01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-06\n          navn: Sterkt kalkrik stein- og blokk-rasmark\n        TD01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-07\n          navn: Kalkfattig storblokket bakli-rasmark\n        TD01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-08\n          navn: Intermediær til litt kalkrik storblokket bakli-rasmark\n        TD01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-09\n          navn: Sterkt kalkrik storblokket bakli-rasmark\n        TD01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-10\n          navn: Kalkfattig storblokket tørke-eksponert rasmark\n        TD01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-11\n          navn: Intermediær til litt kalkrik storblokket tørke-eksponert rasmark\n        TD01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD01-M005-12\n          navn: Sterkt kalkrik storblokket tørke-eksponert rasmark\n    NA-TD02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TD02\n      navn: Flomskredmark\n      kartleggingsenheter:\n        TD02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD02-M005-01\n          navn: Noe utsatt flomskredmark\n        TD02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD02-M005-02\n          navn: Sterkt til disruptivt utsatt flomskredmark\n    NA-TD03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TD03\n      navn: Rasmarkeng\n      kartleggingsenheter:\n        TD03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD03-M005-01\n          navn: Kalkfattig rasmarkeng og -hei\n        TD03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD03-M005-02\n          navn: Intermediær til litt kalkrik rasmarkeng og -hei\n        TD03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD03-M005-03\n          navn: Klart kalkrik rasmarkeng og -hei\n        TD03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD03-M005-04\n          navn: Intermediær til litt kalkrik kildevannspåvirket rasmarkeng og -hei\n        TD03-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD03-M005-05\n          navn: Klart kalkrik kildevannspåvirket rasmarkeng og -hei\n        TD03-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD03-M005-06\n          navn: Rasmarkeng og -hei med svært sterkt raspreg\n    NA-TD04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TD04\n      navn: Fosse-eng\n      kartleggingsenheter:\n        TD04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD04-M005-01\n          navn: Intermediær til litt kalkrik fosse-eng med fossestøv og -tåkepreg\n        TD04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD04-M005-02\n          navn: Klart kalkrik fosse-eng med fossestøv og -tåkepreg\n        TD04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD04-M005-03\n          navn: Intermediær til litt kalkrik fosse-eng med fosseyrpreg\n        TD04-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD04-M005-04\n          navn: Klart kalkrik fosse-eng med fosseyrpreg\n        TD04-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD04-M005-05\n          navn: Fosse-eng med fosseregnpreg\n    NA-TD05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TD05\n      navn: Naturlig beitebetinget eng\n      kartleggingsenheter:\n        TD05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD05-M005-01\n          navn: Sterkt intermediær til litt kalkrik naturlig beitebetinget eng\n        TD05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD05-M005-02\n          navn: Klart kalkrik naturlig beitebetinget eng\n    NA-TD06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TD06\n      navn: Rabbe\n      kartleggingsenheter:\n        TD06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD06-M005-01\n          navn: Kalkfattig rabbe\n        TD06-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD06-M005-02\n          navn: Intermediær til litt kalkrik rabbe\n        TD06-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD06-M005-03\n          navn: Klart kalkrik rabbe\n        TD06-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TD06-M005-04\n          navn: Saltanriket ekstremrik rabbe\n    NA-TE01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE01\n      navn: Sanddynemark\n      kartleggingsenheter:\n        TE01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE01-M005-01\n          navn: Embryonal- primær- og hvit dyne\n        TE01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE01-M005-02\n          navn: Grå dyne\n        TE01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE01-M005-03\n          navn: Brun dyne\n        TE01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE01-M005-04\n          navn: Primær og hvit innlandsdyne\n        TE01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE01-M005-05\n          navn: Grå og brun innlandsdyne\n        TE01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE01-M005-06\n          navn: Dynetrau\n    NA-TE02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE02\n      navn: Aktiv skredmark\n      kartleggingsenheter:\n        TE02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE02-M005-01\n          navn: Leir- og siltskred\n        TE02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE02-M005-02\n          navn: Sandskred\n        TE02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE02-M005-03\n          navn: Grusskred\n    NA-TE03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE03\n      navn: Åpen flomfastmark\n      kartleggingsenheter:\n        TE03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE03-M005-01\n          navn: Intermediær til sterkt kalkrik åpen leire- og silt-flomfastmark\n        TE03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE03-M005-02\n          navn: Intermediær til sterkt kalkrik åpen sand- og grus-flomfastmark\n        TE03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE03-M005-03\n          navn: Intermediær til litt kalkrik åpen stein- og blokk-flomfastmark\n        TE03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE03-M005-04\n          navn: Sterkt kalkrik åpen stein- og blokk-flomfastmark\n    NA-TE04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE04\n      navn: Langvarig oversvømt flommark\n      kartleggingsenheter:\n        TE04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE04-M005-01\n          navn: Langvarig oversvømt flommark\n    NA-TE05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE05\n      navn: Oppfrysingsmark\n      kartleggingsenheter:\n        TE05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE05-M005-01\n          navn: Kalkfattig oppfrysingsmark\n        TE05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE05-M005-02\n          navn: Intermediær til litt kalkrik oppfrysingsmark\n        TE05-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE05-M005-03\n          navn: Sterkt kalkrik oppfrysingsmark\n    NA-TE06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE06\n      navn: Marin driftvoll\n      kartleggingsenheter:\n        TE06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE06-M005-01\n          navn: Beskyttet til litt eksponert marin driftvoll\n        TE06-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE06-M005-02\n          navn: Svært til ekstremt eksponert marin driftvoll\n        TE06-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE06-M005-03\n          navn: Brakkvannsdriftvoll\n    NA-TE07:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE07\n      navn: Ferskvannsdriftvoll\n      kartleggingsenheter:\n        TE07-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE07-M005-01\n          navn: Ferskvannsdriftvoll\n    NA-TE08:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE08\n      navn: Flommarkseng\n      kartleggingsenheter:\n        TE08-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE08-M005-01\n          navn: Intermediær til litt kalkrik flommarkseng\n        TE08-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE08-M005-02\n          navn: Klart kalkrik flommarkseng\n        TE08-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE08-M005-03\n          navn: Intermediær til litt kalkrik flommarkseng med kildevannspåvirkning\n        TE08-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE08-M005-04\n          navn: Klart kalkrik flommarkseng med kildevannspåvirkning\n    NA-TE09:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TE09\n      navn: Isinnfrysingsmark\n      kartleggingsenheter:\n        TE09-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE09-M005-01\n          navn: Kalkfattig isinnfrysingsmark\n        TE09-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE09-M005-02\n          navn: Intermediær til litt kalkrik isinnfrysingsmark\n        TE09-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TE09-M005-03\n          navn: Klart kalkrik isinnfrysingsmark\n    NA-TF01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TF01\n      navn: Sand- og dyneskogsmark\n      kartleggingsenheter:\n        TF01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF01-M005-01\n          navn: Sandskogsmark\n        TF01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF01-M005-02\n          navn: Dyneskogsmark\n    NA-TF02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TF02\n      navn: Flomskogsmark\n      kartleggingsenheter:\n        TF02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF02-M005-01\n          navn: Beskyttet flomskogsmark på finmateriale\n        TF02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF02-M005-02\n          navn: Noe eksponert flomskogsmark på finmateriale\n        TF02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF02-M005-03\n          navn: Kildevannspåvirket flomskogsmark på finmateriale\n        TF02-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF02-M005-04\n          navn: Beskyttet flomskogsmark på grus og stein\n        TF02-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF02-M005-05\n          navn: Noe eksponert flomskogsmark på grus og stein\n        TF02-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TF02-M005-06\n          navn: Brakkvanns-flomskogsmark\n    NA-TG01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TG01\n      navn: Nakne løsmasser\n      kartleggingsenheter:\n        TG01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-01\n          navn: Udifferensierte stedegne grus-løsmasser\n        TG01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-02\n          navn: Rabbepregede kalkfattige til svakt kalkrike stedegne grus-løsmasser\n        TG01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-03\n          navn: Rabbepregede sterkt kalkrike stedegne grus-løsmasser\n        TG01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-04\n          navn: Fjellhei-, leside- eller grasmarkspregede kalkfattige stedegne grus-løsmasser\n        TG01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-05\n          navn: Fjellhei-, leside- eller grasmarkspregede intermediære til svakt kalkrike\n            stedegne grus-løsmasser\n        TG01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-06\n          navn: Fjellhei-, leside- eller grasmarkspregede sterkt kalkrike stedegne\n            grus-løsmasser\n        TG01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-07\n          navn: Snøleiepregede kalkfattige til svakt kalkrike stedegne grus-løsmasser\n        TG01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-08\n          navn: Snøleiepregede sterkt kalkrike stedegne grus-løsmasser\n        TG01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-09\n          navn: Udifferensiert stedegen stein- og blokkmark\n        TG01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-10\n          navn: Rabbepreget kalkfattig til svakt kalkrik stedegen stein- og blokkmark\n        TG01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-11\n          navn: Rabbepreget sterkt kalkrik stedegen stein- og blokkmark\n        TG01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-12\n          navn: Snøleiepreget kalkfattig til svakt kalkrik stedegen stein- og blokkmark\n        TG01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-13\n          navn: Snøleiepreget sterkt kalkrik stedegen stein- og blokkmark\n        TG01-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-14\n          navn: Udifferensiert moreneblokkmark\n        TG01-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-15\n          navn: Fjellnatur-preget moreneblokkmark\n        TG01-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-16\n          navn: Skogsmarkspreget moreneblokkmark\n        TG01-M005-17:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-17\n          navn: Udifferensiert hevet grusstrand\n        TG01-M005-18:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-18\n          navn: Rabbepreget hevet grusstrand\n        TG01-M005-19:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-19\n          navn: Grasmarkspreget hevet grusstrand\n        TG01-M005-20:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-20\n          navn: Skogsmarkspreget hevet grusstrand\n        TG01-M005-21:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-21\n          navn: Udifferensiert hevet stein- og blokkstrand\n        TG01-M005-22:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-22\n          navn: Rabbepreget hevet stein- og blokkstrand\n        TG01-M005-23:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-23\n          navn: Grasmarkspreget hevet stein- og blokkstrand\n        TG01-M005-24:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-24\n          navn: Skogsmarkspreget hevet stein- og blokkstrand\n        TG01-M005-25:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-25\n          navn: Udifferensiert leire-, silt-, sand og grusdominert breforland og snøavsmeltingsområde\n        TG01-M005-26:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-26\n          navn: Fjellnatur-preget leire-, silt-, sand og grusdominert breforland og\n            snøavsmeltingsområde\n        TG01-M005-27:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-27\n          navn: Skogsmarkspreget leire-, silt-, sand og grusdominert breforland og\n            snøavsmeltingsområde\n        TG01-M005-28:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-28\n          navn: Udifferensiert breforland og snøavsmeltingsområde dominert av stein\n            og blokk\n        TG01-M005-29:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-29\n          navn: Fjellnatur-preget breforland og snøavsmeltingsområde dominert av stein\n            og blokk\n        TG01-M005-30:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-30\n          navn: Konsoliderte marine bresedimenter\n        TG01-M005-31:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-31\n          navn: Udifferensiert historisk silt- og leirskred\n        TG01-M005-32:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-32\n          navn: Skogsmarkspreget historisk silt- og leirskred\n        TG01-M005-33:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-33\n          navn: Udifferensiert historisk skred av sand og grus\n        TG01-M005-34:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-34\n          navn: Skogsmarkspreget historisk skred av sand og grus\n        TG01-M005-35:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-35\n          navn: Historisk steinskred\n        TG01-M005-36:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-36\n          navn: Skogsmarkspreget historisk steinskred\n        TG01-M005-37:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-37\n          navn: Historisk jordskred\n        TG01-M005-38:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-38\n          navn: Snøleiepreget historisk jordskred\n        TG01-M005-39:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-39\n          navn: Skogsmarkspreget historisk jordskred\n        TG01-M005-40:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-40\n          navn: Synkehull i permafrost\n        TG01-M005-41:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TG01-M005-41\n          navn: Flomskredmateriale\n    NA-TH01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TH01\n      navn: Avskoget hei og eng\n      kartleggingsenheter:\n        TH01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-01\n          navn: Kalkfattig avskoget bærlynghei\n        TH01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-02\n          navn: Intermediær til litt kalkrik bærlynghei\n        TH01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-03\n          navn: Klart kalkrik avskoget bærlynghei\n        TH01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-04\n          navn: Kalkfattig avskoget lynghei\n        TH01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-05\n          navn: Intermediær til litt kalkrik avskoget lynghei\n        TH01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-06\n          navn: Klart kalkrik avskoget lynghei\n        TH01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-07\n          navn: Kalkfattig avskoget lavhei\n        TH01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-08\n          navn: Intermediær til litt kalkrik avskoget lavhei\n        TH01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-09\n          navn: Klart kalkrik avskoget lavhei\n        TH01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-10\n          navn: Avskoget storbregne-fjelleng\n        TH01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-11\n          navn: Avskoget høgstaude-fjelleng\n        TH01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-12\n          navn: Avskoget kalkfattig fjell-fukthei\n        TH01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-13\n          navn: Avskoget intermediær til svakt kalkfattig fjell-fukthei\n        TH01-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TH01-M005-14\n          navn: Avskoget kalkrik fjell-fukteng\n    NA-TI01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TI01\n      navn: Klart endret skogsmark\n      kartleggingsenheter:\n        TI01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-01\n          navn: Grøftet eller markforstyrret klart endret friskere ikke-kalkrik skog\n        TI01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-02\n          navn: Grøftet eller markforstyrret klart endret friskere kalkskog\n        TI01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-03\n          navn: Grøftet eller markforstyrret klart endret tørrere ikke-kalkrik skog\n        TI01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-04\n          navn: Grøftet eller markforstyrret klart endret tørrere kalkskog\n        TI01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-05\n          navn: Hugd eller treslagstypeskiftet klart endret friskere ikke-kalkrik\n            skog\n        TI01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-06\n          navn: Hugd eller treslagstypeskiftet klart endret friskere kalkskog\n        TI01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-07\n          navn: Hugd eller treslagstypeskiftet klart endret tørrere ikke-kalkrik skog\n        TI01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-08\n          navn: Hugd eller treslagstypeskiftet klart endret tørrere kalkskog\n        TI01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-09\n          navn: Klart endret storbregneskog\n        TI01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TI01-M005-10\n          navn: Klart endret høgstaudeskog\n    NA-TK01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TK01\n      navn: Semi-naturlig eng\n      kartleggingsenheter:\n        TK01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-01\n          navn: Kalkfattig semi-naturlig eng uten markrydding med åpent tresjikt\n        TK01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-02\n          navn: Svakt kalkrik semi-naturlig ikke markryddet eng med åpent tresjikt\n        TK01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-03\n          navn: Klart kalkrik semi-naturlig ikke markryddet eng med åpent tresjikt\n        TK01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-04\n          navn: Kalkfattig semi-naturlig ikke markryddet tørreng med åpent tresjikt\n        TK01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-05\n          navn: Svakt kalkrik semi-naturlig ikke markryddet tørreng med åpent tresjikt\n        TK01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-06\n          navn: Klart kalkrik semi-naturlig ikke markryddet tørreng med åpent tresjikt\n        TK01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-07\n          navn: Kalkfattig semi-naturlig markryddet eng med åpent tresjikt\n        TK01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-08\n          navn: Svakt kalkrik semi-naturlig markryddet eng med åpent tresjikt\n        TK01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-09\n          navn: Klart kalkrik semi-naturlig markryddet eng med åpent tresjikt\n        TK01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-10\n          navn: Kalkfattig semi-naturlig markryddet tørreng med åpent tresjikt\n        TK01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-11\n          navn: Svakt kalkrik semi-naturlig markryddet tørreng med åpent tresjikt\n        TK01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-12\n          navn: Klart kalkrik semi-naturlig markryddet tørreng med åpent tresjikt\n        TK01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-13\n          navn: Kalkfattig åpen semi-naturlig ikke markryddet eng\n        TK01-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-14\n          navn: Svakt kalkrik åpen semi-naturlig ikke markryddet eng\n        TK01-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-15\n          navn: Klart kalkrik åpen semi-naturlig ikke markryddet eng\n        TK01-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-16\n          navn: Kalkfattig åpen semi-naturlig ikke markryddet tørreng\n        TK01-M005-17:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-17\n          navn: Svakt kalkrik åpen semi-naturlig ikke markryddet tørreng\n        TK01-M005-18:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-18\n          navn: Klart kalkrik åpen semi-naturlig ikke markryddet tørreng\n        TK01-M005-19:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-19\n          navn: Kalkfattig åpen semi-naturlig markryddet eng\n        TK01-M005-20:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-20\n          navn: Svakt kalkrik åpen semi-naturlig markryddet eng\n        TK01-M005-21:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-21\n          navn: Klart kalkrik åpen semi-naturlig markryddet eng\n        TK01-M005-22:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-22\n          navn: Kalkfattig åpen semi-naturlig markryddet tørreng\n        TK01-M005-23:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-23\n          navn: Svakt kalkrik åpen semi-naturlig markryddet tørreng\n        TK01-M005-24:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-24\n          navn: Klart kalkrik åpen semi-naturlig markryddet tørreng\n        TK01-M005-25:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-25\n          navn: Svakt kalkrik kildevannspåvirket semi-naturlig fukteng\n        TK01-M005-26:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-26\n          navn: Klart kalkrik kildevannspåvirket semi-naturlig fukteng\n        TK01-M005-27:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK01-M005-27\n          navn: Kalkrik åpen semi-naturlig eng på stabilisert sand\n    NA-TK02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TK02\n      navn: Semi-naturlig strandeng\n      kartleggingsenheter:\n        TK02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK02-M005-01\n          navn: Semi-naturlig strandeng på uorganisk substrat\n        TK02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK02-M005-02\n          navn: Semi-naturlig strandeng på skjellsand\n    NA-TK03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TK03\n      navn: Kystlynghei\n      kartleggingsenheter:\n        TK03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-01\n          navn: Kalkfattig bakli-hei\n        TK03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-02\n          navn: Intermediær til litt kalkrik bakli-hei\n        TK03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-03\n          navn: Kalkfattig veldrenert til vekselfuktig kystlynghei\n        TK03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-04\n          navn: Intermediær til litt kalkrik veldrenert-vekselfuktig kystlynghei\n        TK03-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-05\n          navn: Sterkt kalkrik veldrenert-vekselfuktig kystlynghei\n        TK03-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-06\n          navn: Kalkfattig fukt-kystlynghei\n        TK03-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-07\n          navn: Intermediær til litt kalkrik fukt-kystlynghei\n        TK03-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TK03-M005-08\n          navn: Sterkt kalkrik fukt-kystlynghei\n    NA-TL01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TL01\n      navn: Ny eng med semi-naturlig preg\n      kartleggingsenheter:\n        TL01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-01\n          navn: Kalkfattig frisk ny eng med semi-naturlig preg\n        TL01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-02\n          navn: Intermediær til litt kalkrik frisk ny eng med semi-naturlig preg\n        TL01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-03\n          navn: Sterkt kalkrik frisk ny eng med semi-naturlig preg\n        TL01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-04\n          navn: Kalkfattig, intermediær til tørkeutsatt ny eng med semi-naturlig preg\n        TL01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-05\n          navn: Intermediær til litt kalkrik, intermediær til tørkeutsatt ny eng med\n            semi-naturlig preg\n        TL01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-06\n          navn: Sterkt kalkrik, intermediær til tørkeutsatt ny eng med semi-naturlig\n            preg\n        TL01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-07\n          navn: Intermediær til litt kalkrik frisk ny eng med semi-naturlig preg med\n            klar kildevannspåvirkning\n        TL01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TL01-M005-08\n          navn: Sterkt kalkrik frisk ny eng med semi-naturlig preg med klar kildevannspåvirkning\n    NA-TM01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TM01\n      navn: Hard sterkt endret fastmark\n      kartleggingsenheter:\n        TM01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM01-M005-01\n          navn: Hard sterkt endret fastmark av lite modifisert substrat\n        TM01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM01-M005-02\n          navn: Hulrom i hard sterkt endret fastmark\n        TM01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM01-M005-03\n          navn: Hard sterkt endret fastmark av sterkt modifisert eller endret substrat\n    NA-TM02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TM02\n      navn: Ny hard fastmark på tørrlagt ferskvannsbunn\n      kartleggingsenheter:\n        TM02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM02-M005-01\n          navn: Ny hard fastmark på tørrlagt innsjøbunn\n        TM02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM02-M005-02\n          navn: Ny hard fastmark på tørrlagt elvebunn\n    NA-TM03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TM03\n      navn: Løs sterkt endret fastmark\n      kartleggingsenheter:\n        TM03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-01\n          navn: Sterkt endret fastmark med dekke av jord eller blandet sediment\n        TM03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-02\n          navn: Sterkt endret fastmark med dekke av leire og silt\n        TM03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-03\n          navn: Sterkt endret fastmark med dekke av sand og grus\n        TM03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-04\n          navn: Sterkt endret fastmark av substrat preget av kjemisk påvirkning\n        TM03-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-05\n          navn: Sterkt endret fastmark av grovt organisk avfall\n        TM03-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-06\n          navn: Sterkt endret fastmark av fint organisk avfall\n        TM03-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-07\n          navn: Sterkt endret fastmark av konsolidert løst, sterkt modifisert eller\n            syntetisk substrat\n        TM03-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM03-M005-08\n          navn: Sterkt endret fastmark av ikke-konsolidert løst, sterkt modifisert\n            eller syntetisk substrat\n    NA-TM04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TM04\n      navn: Ny løs fastmark på tørrlagt ferskvannsbunn\n      kartleggingsenheter:\n        TM04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM04-M005-01\n          navn: Ny løs fastmark på tørrlagt innsjøbunn\n        TM04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM04-M005-02\n          navn: Ny løs fastmark på tørrlagt elvebunn\n    NA-TM05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TM05\n      navn: Ny løs fastmark på drenert våtmark\n      kartleggingsenheter:\n        TM05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM05-M005-01\n          navn: Ny løs fastmark på drenert jordvannsmyr\n        TM05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM05-M005-02\n          navn: Ny løs fastmark på drenert nedbørsmyr\n    NA-TM06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TM06\n      navn: Sterkt endret skogsmark\n      kartleggingsenheter:\n        TM06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM06-M005-01\n          navn: Sterkt endret skogsmark etter markinngrep\n        TM06-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM06-M005-02\n          navn: Mellomsuksesjonsstadium som ikke har opphav i skogsmark\n        TM06-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TM06-M005-03\n          navn: Mellomsuksesjonsstadium i skogsmark\n    NA-TN01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TN01\n      navn: Blomsterbed og annen hyppig bearbeidet mark\n      kartleggingsenheter:\n        TN01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TN01-M005-01\n          navn: Blomsterbed og annen hyppig bearbeidet mark\n    NA-TN02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TN02\n      navn: Blomsterenger, usprøytete vegkanter og liknende med semi-naturlig hevdpreg\n      kartleggingsenheter:\n        TN02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TN02-M005-01\n          navn: Blomsterenger, usprøytete vegkanter og liknende med semi-naturlig\n            hevdpreg\n    NA-TN03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TN03\n      navn: Vegkanter, plener, parker og liknende uten semi-naturlig hevdpreg\n      kartleggingsenheter:\n        TN03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TN03-M005-01\n          navn: Vegkanter, plener, parker og liknende uten semi-naturlig hevdpreg\n    NA-TO01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TO01\n      navn: Åker\n      kartleggingsenheter:\n        TO01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO01-M005-01\n          navn: Åker\n    NA-TO02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TO02\n      navn: Oppdyrket mark med semi-naturlig engpreg\n      kartleggingsenheter:\n        TO02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO02-M005-01\n          navn: Oppdyrket mark med semi-naturlig engpreg\n    NA-TO03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TO03\n      navn: Oppdyrket varig eng\n      kartleggingsenheter:\n        TO03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO03-M005-01\n          navn: Intensivt høstet og ugjødslet til temmelig sterkt gjødslet oppdyrket\n            varig eng\n        TO03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO03-M005-02\n          navn: Intensivt høstet og sterkt gjødslet oppdyrket varig eng\n        TO03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO03-M005-03\n          navn: Intensivt høstet og overgjødslet oppdyrket varig eng\n        TO03-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO03-M005-04\n          navn: Svært intensivt høstet og overgjødslet oppdyrket varig eng\n    NA-TO04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-TO04\n      navn: Upløyd jordbruksmark med intensivt hevdpreg\n      kartleggingsenheter:\n        TO04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO04-M005-01\n          navn: Intensivt høstet jordbruksmark uten markbearbeiding\n        TO04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO04-M005-02\n          navn: Intensivt høstet jordbruksmark med utjevnet overflate\n        TO04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-TO04-M005-03\n          navn: Svært intensivt høstet jordbruksmark med utjevnet overflate\nNA-V:\n  langkode: NIN-3.0-T-C-PE-NA-MB-NA-V\n  navn: Våtmarkssystemer\n  hovedtyper:\n    NA-VA01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VA01\n      navn: Åpen jordvannsmyr\n      kartleggingsenheter:\n        VA01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-01\n          navn: Temmelig til svært kalkfattig mykmatte til øvre fastmatte\n        VA01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-02\n          navn: Temmelig til svært kalkfattig tuenivå\n        VA01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-03\n          navn: Litt kalkfattig til svakt intermediær mykmatte til øvre fastmatte\n        VA01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-04\n          navn: Litt kalkfattig til svakt intermediært nedre tuenivå\n        VA01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-05\n          navn: Sterkt intermediær til litt kalkrik mykmatte til øvre fastmatte\n        VA01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-06\n          navn: Sterkt intermediær til litt kalkrikt nedre tuenivå\n        VA01-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-07\n          navn: Temmelig kalkrik mykmatte til øvre fastmatte\n        VA01-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-08\n          navn: Temmelig til ekstremt kalkrikt nedre tuenivå\n        VA01-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-09\n          navn: Ekstremt kalkrik mykmatte til øvre fastmatte\n        VA01-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-10\n          navn: Temmelig til svært kalkfattig mattenivå i myrkant\n        VA01-M005-11:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-11\n          navn: Temmelig til svært kalkfattig tuenivå i myrkant\n        VA01-M005-12:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-12\n          navn: Litt kalkfattig til svakt intermediært mattenivå i myrkant\n        VA01-M005-13:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-13\n          navn: Litt kalkfattig til svakt intermediært tuenivå i myrkant\n        VA01-M005-14:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-14\n          navn: Sterkt intermediær til litt kalkrikt mattenivå i myrkant\n        VA01-M005-15:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-15\n          navn: Sterkt intermediær til litt kalkrikt tuenivå i myrkant\n        VA01-M005-16:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-16\n          navn: Temmelig kalkrikt mattenivå i myrkant\n        VA01-M005-17:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-17\n          navn: Ekstremt kalkrikt mattenivå i myrkant\n        VA01-M005-18:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-18\n          navn: Temmelig til ekstremt kalkrikt nedre tuenivå i myrkant\n        VA01-M005-19:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VA01-M005-19\n          navn: Kalkrikt mattenivå i myrkant med saltpåvirkning\n    NA-VB01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VB01\n      navn: Myr- og sumpskogsmark\n      kartleggingsenheter:\n        VB01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VB01-M005-01\n          navn: Svært til temmelig kalkfattig myr- og sumpskogsmark\n        VB01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VB01-M005-02\n          navn: Litt kalkfattig til svakt intermediær kildesumpskogsmark, myr- og\n            sumpskogsmark\n        VB01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VB01-M005-03\n          navn: Sterkt intermediær til litt kalkrik kildesumpskogsmark, myr- og sumpskogsmark\n        VB01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VB01-M005-04\n          navn: Klart kalkrik kildesumpskogsmark, myr- og sumpskogsmark\n    NA-VC01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VC01\n      navn: Åpen nedbørsmyr\n      kartleggingsenheter:\n        VC01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC01-M005-01\n          navn: Nedbørsmyr-mykmatte og fastmatte\n        VC01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC01-M005-02\n          navn: Nedbørsmyr-tuenivå\n        VC01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC01-M005-03\n          navn: Rabbepreget nedbørsmyr-myrtue på permafrost\n    NA-VC02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VC02\n      navn: Torvmarkskilde\n      kartleggingsenheter:\n        VC02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC02-M005-01\n          navn: Litt kalkfattig til svakt intermediær svak eller ustabil torvmarkskilde\n        VC02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC02-M005-02\n          navn: Sterkt intermediær til litt kalkrik torvmarkskilde\n        VC02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC02-M005-03\n          navn: Temmelig til ekstremt kalkrik torvmarkskilde\n    NA-VC03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VC03\n      navn: Grunnkilde\n      kartleggingsenheter:\n        VC03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC03-M005-01\n          navn: Litt kalkfattig til svakt intermediær svak eller ustabil grunnkilde\n        VC03-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC03-M005-02\n          navn: Sterkt intermediær til litt kalkrik grunnkilde\n        VC03-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC03-M005-03\n          navn: Klart kalkrik grunnkilde\n    NA-VC04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VC04\n      navn: Våt- og kildesnøleie\n      kartleggingsenheter:\n        VC04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-01\n          navn: Kalkfattig til litt rikt moderat våtsnøleie og kildepåvirket snøleie\n        VC04-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-02\n          navn: Sterkt kalkrikt våtsnøleie og kildepåvirket snøleie\n        VC04-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-03\n          navn: Kalkfattig til litt rikt seint våtsnøleie eller kildepåvirket snøleie\n        VC04-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-04\n          navn: Sterkt kalkrikt seint våtsnøleie eller kildepåvirket snøleie\n        VC04-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-05\n          navn: Kalkfattig til litt rikt seint kildesnøleie\n        VC04-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-06\n          navn: Temmelig til ekstremt kalkrikt seint kildesnøleie\n        VC04-M005-07:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-07\n          navn: Kalkfattig til litt rikt ekstremt, kildepåvirket snøleie\n        VC04-M005-08:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-08\n          navn: Sterkt kalkrikt ekstremt, kildepåvirket snøleie\n        VC04-M005-09:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-09\n          navn: Kalkfattig til litt rikt ekstrem-kildesnøleie\n        VC04-M005-10:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC04-M005-10\n          navn: Sterkt kalkrikt ekstrem-kildesnøleie\n    NA-VC05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VC05\n      navn: Permafrost-våtmark\n      kartleggingsenheter:\n        VC05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC05-M005-01\n          navn: Permafrost-våtmark i nedre mykmatte-nedre fastmattenivå\n        VC05-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VC05-M005-02\n          navn: Fast og tuet, knapt kildepåvirket permafrost-våtmark\n    NA-VE01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VE01\n      navn: Oppfrysingsvåtmark\n      kartleggingsenheter:\n        VE01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VE01-M005-01\n          navn: Kalkfattig til litt kalkrik oppfrysingsvåtmark\n        VE01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VE01-M005-02\n          navn: Temmelig til ekstremt kalkrik oppfrysingsvåtmark\n    NA-VF01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VF01\n      navn: Nedbørsmyr-skogsmark\n      kartleggingsenheter:\n        VF01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VF01-M005-01\n          navn: Nedbørsmyr-skogsmark\n    NA-VF02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VF02\n      navn: Strandsumpskogsmark\n      kartleggingsenheter:\n        VF02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VF02-M005-01\n          navn: Intermediær til litt kalkrik innsjø-strandsumpskogsmark\n        VF02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VF02-M005-02\n          navn: Kalkrik innsjø-strandsumpskogsmark\n        VF02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VF02-M005-03\n          navn: Kalkrik saltpåvirket hav-strandsumpskogsmark\n    NA-VG01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VG01\n      navn: Ny naturgitt torvmark\n      kartleggingsenheter:\n        VG01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VG01-M005-01\n          navn: Ny naturgitt torvmark med jordvannstilførsel eller kildepreg\n        VG01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VG01-M005-02\n          navn: Ny naturgitt torvmark med innsjø- eller elvevannstilførsel\n    NA-VG02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VG02\n      navn: Ny naturgitt grunn våtmark\n      kartleggingsenheter:\n        VG02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VG02-M005-01\n          navn: Ny naturgitt grunn våtmark med jordvannstilførsel eller kildepreg\n        VG02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VG02-M005-02\n          navn: Ny naturgitt grunn våtmark med innsjø- eller elvevannstilførsel\n    NA-VI01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VI01\n      navn: Klart endret våtmarksskogsmark\n      kartleggingsenheter:\n        VI01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VI01-M005-01\n          navn: Ikke-kalkrik grøftet våtmarksskogsmark\n        VI01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VI01-M005-02\n          navn: Ikke-kalkrik våtmarksskogsmark med treslagsskifte eller tilplanting\n        VI01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VI01-M005-03\n          navn: Grøftet våtmarks-kalkskogsmark\n        VI01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VI01-M005-04\n          navn: Våtmarks-kalkskogsmark med treslagsskifte eller tilplanting\n    NA-VK01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VK01\n      navn: Slåttemyr\n      kartleggingsenheter:\n        VK01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VK01-M005-01\n          navn: Kalkfattig til svakt intermediær slåttemyr\n        VK01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VK01-M005-02\n          navn: Sterkt intermediær til litt kalkrik slåttemyr\n        VK01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VK01-M005-03\n          navn: Kalkrik slåttemyr\n    NA-VK02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VK02\n      navn: Semi-naturlig våteng\n      kartleggingsenheter:\n        VK02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VK02-M005-01\n          navn: Kalkfattig til svakt intermediær semi-naturlig våteng\n        VK02-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VK02-M005-02\n          navn: Sterkt intermediær til litt kalkrik semi-naturlig våteng\n        VK02-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VK02-M005-03\n          navn: Klart kalkrik semi-naturlig våteng\n    NA-VM01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VM01\n      navn: Sterkt endret torvmark\n      kartleggingsenheter:\n        VM01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM01-M005-01\n          navn: Kalkfattig til svakt intermediær grøftet jordvannsmyr\n        VM01-M005-02:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM01-M005-02\n          navn: Sterkt intermediær til litt kalkrik grøftet jordvannsmyr\n        VM01-M005-03:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM01-M005-03\n          navn: Klart kalkrik grøftet jordvannsmyr\n        VM01-M005-04:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM01-M005-04\n          navn: Grøftet nedbørsmyr\n        VM01-M005-05:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM01-M005-05\n          navn: Jordvannsmyr-torvtak\n        VM01-M005-06:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM01-M005-06\n          navn: Nedbørsmyr-torvtak\n    NA-VM02:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VM02\n      navn: Ny torvmark på tidligere ferskvannsbunn\n      kartleggingsenheter:\n        VM02-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM02-M005-01\n          navn: Ny torvmark på tidligere ferskvannsbunn\n    NA-VM03:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VM03\n      navn: Ny torvmark på menneskebetinget forsumpet fastmark\n      kartleggingsenheter:\n        VM03-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM03-M005-01\n          navn: Ny torvmark på menneskebetinget forsumpet fastmark\n    NA-VM04:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VM04\n      navn: Sterkt endret, ikke torvproduserende våtmark\n      kartleggingsenheter:\n        VM04-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM04-M005-01\n          navn: Sterkt endret ikke torvproduserende våtmark\n    NA-VM05:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VM05\n      navn: Ny grunn våtmark på tidligere ferskvannsbunn\n      kartleggingsenheter:\n        VM05-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM05-M005-01\n          navn: Ny grunn våtmark på tidligere ferskvannsbunn\n    NA-VM06:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VM06\n      navn: Ny grunn våtmark på menneskebetinget forsumpet fastmark\n      kartleggingsenheter:\n        VM06-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VM06-M005-01\n          navn: Ny grunn våtmark på menneskebetinget forsumpet fastmark\n    NA-VO01:\n      langkode: NIN-3.0-T-C-PE-NA-MB-A-VO01\n      navn: Sterkt tråkkpreget våtmark\n      kartleggingsenheter:\n        VO01-M005-01:\n          langkode: NiN-3.0-T-C-PE-NA-MB-VO01-M005-01\n          navn: Sterkt tråkkpreget våtmark\n\n\nAt the very end, mention how could your tools be more useful to you",
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2892,
        725
      ],
      "id": "1ce8c542-2688-4c7e-9709-0057d640d469",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "tableName": "=nin_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2720,
        1080
      ],
      "id": "7fe75e3b-1c4d-4bc9-9edc-88a3723eccd1",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9Dpjwh2i1R7PMsSP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "=nin_docs_query - This tool gives you direct access to the documentation about NIN 3.0 ask anything and this AI agent will give you back a rewiew of the documentation htat you ask for. Do not forget to specify what level of data you want (Hovdetypegruppe, Hovdetype, Gronntype, Kartleggingsenheter). Example query would be: \n- Hovdetype for wetlands with sign of turf extraction\n- Kartleggingsenheter of the NA-TB01 and a way to distinguish them\nFastmarksskogsmark with lichen cover and try patches of needles\n- Gronntype info NA-TB01 Fastmarksskogsmark with lichen and occasional blueberry",
        "workflowId": {
          "__rl": true,
          "value": "THOIDosI1jZG3BFE",
          "mode": "list",
          "cachedResultName": "🤖 NIN Data summarizer"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topic', `Ask AI agent with access to all the documentation for a summary`, 'string') }}"
          },
          "matchingColumns": [
            "topic"
          ],
          "schema": [
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2980,
        945
      ],
      "id": "4d0b3f18-aa3f-4fec-8a9b-27609a33e1d6",
      "name": "nin_docs_query"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "is_question",
              "type": "boolean",
              "description": "Bolean of it it's a question",
              "required": true
            },
            {
              "name": "question",
              "description": "The question to ask user"
            },
            {
              "name": "answer_1",
              "description": "first possible answer"
            },
            {
              "name": "answer_2",
              "description": "second possible answer"
            },
            {
              "name": "comment",
              "description": "Comments about possible improvements"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=Task:\nFor any given user input, first decide whether the input is actually a question.\n    •\tIf there are any comments about improvments, put them in comments\n\t•\tIf the input is not a question, set is_question to false and ignore the rest\n\t•\tIf the input is a question, rewrite it as a question that can be answered with exactly two mutually-exclusive options (e.g., “yes or no,” “Option A or Option B,” etc.).\n\t•\tPreserve the details in the question including http links in markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        3300,
        600
      ],
      "id": "23272a87-d45d-4d60-8e45-25dc23ab0236",
      "name": "Information Extractor",
      "retryOnFail": true,
      "waitBetweenTries": 0
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bc02296c-41aa-457d-a419-181004adaf32",
              "leftValue": "={{ $json.output.is_question }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3676,
        600
      ],
      "id": "daaf1fd6-a6e0-4798-ad8f-1be9ea84aa6d",
      "name": "If"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3300,
        1020
      ],
      "id": "d813b340-9964-469f-803a-1a2d4977f9d8",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9gqkrc0qZ9ukSFh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qOFpCaIBhvwBEqNt",
          "mode": "list",
          "cachedResultName": "Contact admin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "={{ $('If').item.json.output.comment }}"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4116,
        825
      ],
      "id": "13624b87-8ef0-45e6-9fa9-13a8724a5807",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get data from postgres with detailed documentation for every Langkode",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "nin_docs",
          "mode": "list",
          "cachedResultName": "nin_docs"
        },
        "where": {
          "values": [
            {
              "column": "Langkode",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3100,
        945
      ],
      "id": "ab5f945b-f215-4711-8816-fbba4d9e7934",
      "name": "nin_docs",
      "credentials": {
        "postgres": {
          "id": "9Dpjwh2i1R7PMsSP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d0c756e-18f2-4219-a644-f6dcf6e8a5ba",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        725
      ],
      "id": "f8779d83-89b6-4a20-baba-b5ce0a4d824c",
      "name": "Set inputs"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "=Analyze the provided image of a natural or semi-natural site in Norway. Your task is to generate a concise, objective, and ecologically focused description of the site *strictly based on visible elements in the image*. This description will be used by another AI for ecological classification according to the NiN 3.0 system.\nFocus on providing factual observations relevant to habitat characteristics. Do not interpret beyond what is directly visible or infer conditions that are not clearly evident.\nProvide the description as a bulleted list with the following headings. If a characteristic is not clearly discernible from the image, state 'Not clearly visible' or 'Cannot determine from image'.\n- **General Environment:** (e.g., Terrestrial, Freshwater body, Freshwater bottom, Marine body, Marine bottom, Snow/Ice) - Choose the most dominant.\n- **Substrate Type:** Describe the dominant substrate(s) visible. (e.g., Bare bedrock, Mineral soil, Peat, Sand, Gravel, Stones, Boulders, Mud/Silt, Fine organic material). If loose mineral sediment, note the dominant particle size if discernible.\n- **Moisture/Water Presence:** Describe the visible water regime. (e.g., Dry, Moist ground, Standing water/Waterlogged, Running water/Stream, Submerged, Signs of temporary flooding). Note if a distinct water source (like a spring) is visible.\n- **Vegetation Structure:** Describe the overall structure of the vegetation. (e.g., Open ground with sparse vegetation, Dense low vegetation (like heath or grassland), Forest (specify dominant tree type if possible, e.g., coniferous, deciduous), Wetland vegetation (e.g., moss carpet, tussocks, reeds), Aquatic vegetation).\n- **Dominant Plant Growth Forms:** List the most visibly dominant plant groups. (e.g., Trees, Shrubs, Dwarf shrubs, Grasses, Sedges, Herbs/Forbs, Mosses, Lichens, Algae). Estimate rough relative cover if possible (e.g., 'Dwarf shrubs (~60%), Mosses (~20%), Grasses (~10%)').\n- **Identifiable Plant Species:** List any plant species that are clearly identifiable from the image by their form, color, or other visible features. Use scientific or common names if known. (e.g., 'Calluna vulgaris', 'Sphagnum mosses').\n- **Surface Features/Topography:** Note prominent physical features. (e.g., Flat, Sloping, Steep, Boulders/Rocks on surface, Hummocky, Patterned ground, Dunes, Cliffs, Caves/Overhangs). Note slope angle if estimable.\n- **Exposure:** Describe visual clues related to exposure to elements. (e.g., Appears exposed to wind/waves, Appears sheltered).\n- **Signs of Natural Disturbance:** Note visible evidence of recent natural processes. (e.g., Landslide debris, Erosion patterns, Flood deposits).\n- **Signs of Human Influence/Management:** Note visible evidence of human activity. (e.g., Grazing, Mowing, Ditching, Cultivation, Tracks, Built structures, Logging).\n- **Other Notable Features:** Include anything else ecologically relevant visible in the image. (e.g., Permanent snow patches, Ice features, Bird concentrations, Animal tracks).\nEnsure the output is purely descriptive and uses the specified bullet point format.\"",
        "inputType": "base64",
        "options": {
          "maxTokens": 10000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2200,
        825
      ],
      "id": "0fa3d280-007d-4a34-954d-8274863bdd9c",
      "name": "Describe image",
      "credentials": {
        "openAiApi": {
          "id": "fVqq5tXe6fuAG0kz",
          "name": "OpenAi account - NIN Helper"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4cb5aca-496e-4424-ad66-6fce834eb26d",
              "name": "content",
              "value": "={{ $json.data.values().last() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4160,
        620
      ],
      "id": "947f72b9-f67b-44d9-9db1-ee709daca10f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE nin_chat_histories\nSET    session_id = session_id\n           || '_' \n           || TO_CHAR(\n                  NOW() AT TIME ZONE 'Europe/Oslo',  -- your local TZ\n                  'YYYYMMDDHH24MISS'                 -- 20250616140755\n              )\nWHERE  session_id = '{{ $('WhatsApp Trigger').item?.json?.contacts?.[0]?.wa_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        900
      ],
      "id": "40246b25-59f4-4b7a-bd9f-dec0a407120c",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "9Dpjwh2i1R7PMsSP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1760,
        825
      ],
      "id": "6b47d664-036e-4913-89ae-439968ae3f37",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "phoneNumberId": "637663046095527",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "message": "={{ $json.output.question }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "={{ $json.output.question }}",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "={{ $('Information Extractor').item.json.output.answer_1}}"
                  },
                  {
                    "option": "={{ $('Information Extractor').item.json.output.answer_2}}"
                  },
                  {
                    "option": "I don't know"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3900,
        500
      ],
      "id": "aab5e3ca-42ea-4ec9-a527-85ceabe6577e",
      "name": "WhatsApp Ask question",
      "webhookId": "1a23a9e8-9075-4bff-a611-5cfe9b028879",
      "credentials": {
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "637663046095527",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3896,
        700
      ],
      "id": "389ee5cb-2e73-40e5-82b6-7bc334a7dfb4",
      "name": "WhatsApp Finalize",
      "webhookId": "c31eadcc-78d6-489e-a870-81cdb0430144",
      "credentials": {
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {
    "Text": [
      {
        "json": {
          "text": "this is a text message"
        }
      }
    ],
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15556427473",
            "phone_number_id": "637663046095527"
          },
          "contacts": [
            {
              "profile": {
                "name": "Michal Torma"
              },
              "wa_id": "4796694778"
            }
          ],
          "messages": [
            {
              "from": "4796694778",
              "id": "wamid.HBgKNDc5NjY5NDc3OBUCABIYIEVBN0Y5NDQyNDkwMzc1QzQzOTQxMzMxNjk3NjcwRDQ3AA==",
              "timestamp": "1750038206",
              "type": "image",
              "image": {
                "mime_type": "image/jpeg",
                "sha256": "o9x736MAJjHOU5nnyycF6RNx5mxGR0+5H/6556DK/GQ=",
                "id": "1680377135975096"
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "7MnksaFaiPR7iyVY"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-17T23:22:49.557Z",
  "versionId": "44ffbbfa-9580-4e5f-892c-1fc841896f44"
}