workflows/fJEglZ0uY8m70TU1.json
{
  "active": true,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-15T12:41:53.400Z",
  "id": "fJEglZ0uY8m70TU1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "👩‍💼 Export DO invoices - gbif-norway",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "12a03634-c07e-4365-9e5b-111a094ab495",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://api.digitalocean.com/v2/customers/my/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ],
      "id": "5fc318fd-1d89-43ed-9660-40cd710659e9",
      "name": "HTTP Request",
      "credentials": {
        "digitalOceanApi": {
          "id": "be8cVxjUdOlTFFwu",
          "name": "Digital Ocean gbif-norway account"
        },
        "httpBearerAuth": {
          "id": "ygb2H3WjbeFQ8dZs",
          "name": "Bearer Auth DO - gbif-norway"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "invoices",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "04482b31-4e8a-457a-b66c-5fc5c9fc576b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1580,
        100
      ],
      "id": "29342128-8fad-4138-a69a-098133dea568",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://api.digitalocean.com/v2/customers/my/invoices/{{ $json.invoice_uuid }}/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        120
      ],
      "id": "512a47d6-7e54-44c6-bc69-faba9ef050f5",
      "name": "HTTP Request1",
      "credentials": {
        "digitalOceanApi": {
          "id": "be8cVxjUdOlTFFwu",
          "name": "Digital Ocean gbif-norway account"
        },
        "httpBearerAuth": {
          "id": "ygb2H3WjbeFQ8dZs",
          "name": "Bearer Auth DO - gbif-norway"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N4DgKH59QepTnw5_3vjedR6P1brZfNA8u1cX8lHTlyI",
          "mode": "list",
          "cachedResultName": "Finance UIO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N4DgKH59QepTnw5_3vjedR6P1brZfNA8u1cX8lHTlyI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DO Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N4DgKH59QepTnw5_3vjedR6P1brZfNA8u1cX8lHTlyI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "project_id",
              "lookupValue": "={{ $('Global').item.json.project_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1160,
        -320
      ],
      "id": "dda556d4-99c2-4dc7-838c-46f6b1464a72",
      "name": "Google Sheets",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0iQAvGFBFgqU0OX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "invoice_uuid",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1320,
        100
      ],
      "id": "e3958234-0a72-4bc8-bd90-3616f6b16e66",
      "name": "Merge"
    },
    {
      "parameters": {
        "name": "=DO-{{ $('Global').item.json.project_id }}-{{ $json.invoice_period }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1KynQzEap_7yrJbChfoaapYQMEccG8VU8",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1KynQzEap_7yrJbChfoaapYQMEccG8VU8"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2180,
        120
      ],
      "id": "33d93efc-193a-48ef-82dc-0d5df464508a",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2hEB8jxgNZNm5w5A",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2b60b41-9ecd-47b2-9f65-59a848f26352",
              "name": "project_id",
              "value": "gbif_norway",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "ac6ec776-dcfb-4e9f-9076-c1711dc4e7a9",
      "name": "Global"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1N4DgKH59QepTnw5_3vjedR6P1brZfNA8u1cX8lHTlyI",
          "mode": "list",
          "cachedResultName": "Finance UIO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N4DgKH59QepTnw5_3vjedR6P1brZfNA8u1cX8lHTlyI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DO Invoices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N4DgKH59QepTnw5_3vjedR6P1brZfNA8u1cX8lHTlyI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $('Global').item.json.project_id }}",
            "pdf": "={{ $json.webContentLink }}",
            "reimbursed": "False",
            "submitted": "False",
            "invoice_uuid": "={{ $('Loop Over Items').item.json.invoice_uuid }}",
            "amount": "={{ $('Loop Over Items').item.json.amount }}",
            "invoice_period": "={{ $('Loop Over Items').item.json.invoice_period }}",
            "invoice_id": "={{ $('Loop Over Items').item.json.invoice_id }}",
            "status": "={{ $('Loop Over Items').item.json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_uuid",
              "displayName": "invoice_uuid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_period",
              "displayName": "invoice_period",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submitted",
              "displayName": "submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reimbursed",
              "displayName": "reimbursed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pdf",
              "displayName": "pdf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2400,
        120
      ],
      "id": "99b3f2b3-4bbb-4b71-905c-b7e7523dbedf",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q0iQAvGFBFgqU0OX",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qOFpCaIBhvwBEqNt",
          "mode": "list",
          "cachedResultName": "Contact admin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "=DO - NEW invoice extraction for {{ $('Global').item.json.project_id }} finished"
          },
          "matchingColumns": [
            "message"
          ],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1920,
        -280
      ],
      "id": "34248d11-d1ab-4b2a-a4a9-790a75adf22a",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        200
      ],
      "id": "cdf66277-46eb-45fa-a80d-9b72ec245ea9",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "7MnksaFaiPR7iyVY"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-05-15T14:02:27.816Z",
      "updatedAt": "2025-05-15T14:02:27.816Z",
      "id": "8InhUicPRAEJuYeU",
      "name": "GBIF"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-02T22:18:33.827Z",
  "versionId": "a59f2af8-8eb9-4920-8c3a-05bec56e6393"
}