workflows/ozlBRSrHOFjH41Uq.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-11T18:56:40.410Z",
  "id": "ozlBRSrHOFjH41Uq",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "🛠️ Export conversations",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f16b98d2-bc0b-4b44-be27-bacf2c1c57b4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT json_agg(json_build_object('session_id', session_id, 'history', message)) as history FROM public.nin_chat_histories\nGROUP by session_id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        0
      ],
      "id": "4788b821-e284-42b8-bc41-a2a4050fc554",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "9Dpjwh2i1R7PMsSP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gbif-norway",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflows",
          "mode": "list",
          "cachedResultName": "n8n-workflows",
          "cachedResultUrl": "https://github.com/gbif-norway/n8n-workflows"
        },
        "filePath": "=conversations/{{ $('Postgres').item.json.history[0].session_id }}.md",
        "fileContent": "={{ $json.markdown }}",
        "commitMessage": "=Add chat history for session_id {{ $('Postgres').item.json.history[0].session_id }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        940,
        0
      ],
      "id": "c53962cd-a873-4844-8f2e-9d32865c0746",
      "name": "GitHub",
      "webhookId": "2baab8ff-dbe4-4fad-bf2f-dcf50353810b",
      "credentials": {
        "githubOAuth2Api": {
          "id": "14PIUiK41wewjwbW",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// -------------------------------------------------------------\n// n8n Code node (JavaScript)\n// Input:  1 item whose JSON is the array you pasted\n// Output: 1 item with property  markdown  = pretty transcript\n// -------------------------------------------------------------\n\nvar res = [];\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n    // 2. Build the Markdown\n  let md = '';\n  const transcript = item.json       \n    for (const m of transcript.history) {                  // inner history list\n      const role = m.history.type === 'human' ? 'Human' : 'AI';\n      const text = m.history.content?.trim() ?? '';\n      md += `**${role}:** ${text}\\n\\n`;               // blank line = MD paragraph\n  }\n  \n  // 3. Return one clean item\n  \n  const jsn = {\n        markdown: md.trimEnd(),   // tidy trailing newline\n    };\n  res.push(jsn)\n}\n\nreturn res;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "80d01511-3d3f-44fc-b7cd-d10e2cefd34a",
      "name": "Code",
      "executeOnce": false
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-10T17:04:31.495Z",
      "updatedAt": "2025-04-10T17:04:31.495Z",
      "id": "CFjXUKUF3jMewkBv",
      "name": "nin"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-12T12:39:06.855Z",
  "versionId": "ac53306d-7f0f-493a-8690-5386613b0440"
}