workflows/VMh3rEGCtuevcGuJ.json
{
  "active": false,
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-21T13:33:24.775Z",
  "id": "VMh3rEGCtuevcGuJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SPLAT run - chatgpt-4o",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"prompt1\": \"a string\",\n  \"prompt2\": \"\",\n  \"img_url\": \"url\",\n  \"gbif_key\": 123\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -20
      ],
      "id": "03761769-cb3d-45b7-ad4f-1d3fca8675c1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.prompt1}}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "imageDetail": "high"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        660,
        -20
      ],
      "id": "4bcc882d-c481-4a83-a139-4ef6a538c4ec",
      "name": "Basic LLM Chain",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        748,
        200
      ],
      "id": "fbfbc379-2275-4242-9d4c-68665ec9fb3d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fVqq5tXe6fuAG0kz",
          "name": "OpenAi account - NIN Helper"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "dwc:scientificName",
              "description": "scientific name"
            },
            {
              "name": "dwc:catalogNumber",
              "description": "catalog number"
            },
            {
              "name": "dwc:recordNumber",
              "description": "record identifier"
            },
            {
              "name": "dwc:recordedBy",
              "description": "recorded By"
            },
            {
              "name": "dwc:year",
              "type": "number",
              "description": "year of collection event"
            },
            {
              "name": "dwc:month",
              "type": "number",
              "description": "month of collection event"
            },
            {
              "name": "dwc:day",
              "type": "number",
              "description": "day of collection event"
            },
            {
              "name": "dwc:dateIdentified",
              "type": "date",
              "description": "date identified"
            },
            {
              "name": "dwc:identifiedBy",
              "description": "identified by"
            },
            {
              "name": "dwc:verbatimIdentification",
              "description": "verbatim identification"
            },
            {
              "name": "dwc:country",
              "description": "country"
            },
            {
              "name": "dwc:countryCode",
              "description": "country code"
            },
            {
              "name": "dwc:decimalLatitude",
              "type": "number",
              "description": "decimal latitude"
            },
            {
              "name": "dwc:decimalLongitude",
              "description": "decimal longitude"
            },
            {
              "name": "dwc:locality",
              "description": "locality"
            },
            {
              "name": "dwc:minimumElevationInMeters",
              "type": "number",
              "description": "minimum elevation in meters"
            },
            {
              "name": "dwc:maximumElevationInMeters",
              "type": "number",
              "description": "maximum elevation in meters"
            },
            {
              "name": "dwc:verbatimElevation",
              "description": "verbatim elevation"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1412,
        -20
      ],
      "id": "6231609e-7b8e-4687-bf2c-4fccc12365cf",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('When Executed by Another Workflow').item.json.prompt2}}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1036,
        -20
      ],
      "id": "ef2d6165-701f-45df-9a97-fc8caabb65e9",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11cdca30-ce13-4e06-ac9c-b546dd15cbe4",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "45e06fe1-5bd4-4180-974c-e956b2a559bd",
              "name": "model",
              "value": "openai/gpt-4o",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1788,
        -20
      ],
      "id": "89e80651-e2a1-4f4c-9ba8-ba963ee0c8a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "splat_img",
          "mode": "list",
          "cachedResultName": "splat_img"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "gbif_key",
              "value": "={{ $json.gbif_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        -20
      ],
      "id": "fb9b9782-f51d-4c95-834c-2e09fba778e5",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "9Dpjwh2i1R7PMsSP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        440,
        -20
      ],
      "id": "3a26c6b3-643e-4c9f-ab60-fcaff2f945d6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "splat-result",
          "mode": "list",
          "cachedResultName": "splat-result"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "image_url": "={{ $('When Executed by Another Workflow').item.json.img_url}}",
            "prompt1": "={{ $('When Executed by Another Workflow').item.json.prompt1}}",
            "prompt2": "={{ $('When Executed by Another Workflow').item.json.prompt2}}",
            "model": "={{ $json.model }}",
            "result": "={{ JSON.stringify($json.output) }}",
            "gbif_key": "={{ $('When Executed by Another Workflow').item.json.gbif_key}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt1",
              "displayName": "prompt1",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt2",
              "displayName": "prompt2",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "result",
              "displayName": "result",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gbif_key",
              "displayName": "gbif_key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2008,
        -20
      ],
      "id": "7301cbbc-70d8-40c7-ae0c-7d047f825abe",
      "name": "Postgres1",
      "credentials": {
        "postgres": {
          "id": "9Dpjwh2i1R7PMsSP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7f0c5d9-ca0d-4983-8d16-343c7e3d522c",
              "name": "res",
              "value": "true",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2228,
        -20
      ],
      "id": "7e1fc594-ff36-4f7e-9f81-45759e6b34dc",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-22T12:12:10.306Z",
      "updatedAt": "2025-05-22T12:12:10.306Z",
      "id": "2pUeTgt6i4E0TLFj",
      "name": "SPLAT"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-22T15:54:14.676Z",
  "versionId": "30dd9ae6-0964-4ff8-b85d-247629c156a7"
}