workflows/Z7m8fWlFMwVAhDiY.json
{
  "active": false,
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-12T12:40:05.440Z",
  "id": "Z7m8fWlFMwVAhDiY",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "NIN Helper WhatApp interface",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -40
      ],
      "id": "35833300-e590-434d-862b-0dcd919e27f2",
      "name": "WhatsApp Trigger",
      "webhookId": "9f9a40f2-2c40-4deb-8832-8784efca41c5",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "lkqMPNKFakbQUGpV",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "637663046095527",
        "recipientPhoneNumber": "+4796694778",
        "template": "hello_world|en_US"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        240,
        -40
      ],
      "id": "91cff682-a264-4c5c-bb28-650c142f02fb",
      "name": "WhatsApp Business Cloud",
      "webhookId": "f0a41360-af06-44c3-a9c8-cde11d3073dd",
      "credentials": {
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        200,
        -360
      ],
      "id": "4392d5d5-3a1d-466f-b2cd-3a422ed0a7be",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "1dc934f8-b005-4d41-b864-fa3c517b1a6d",
      "credentials": {
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        -360
      ],
      "id": "02962862-5c7d-4149-8f60-a9a0b7e0f654",
      "name": "HTTP Request",
      "credentials": {
        "whatsAppApi": {
          "id": "2fF8n5nPmjxVyoOj",
          "name": "WhatsApp account"
        },
        "httpHeaderAuth": {
          "id": "6KBnbx2Ra2MlRIhU",
          "name": "whatsap token header"
        },
        "httpBearerAuth": {
          "id": "eLmLukjxSt2M74F9",
          "name": "whatsapp token"
        }
      }
    }
  ],
  "pinData": {
    "WhatsApp Business Cloud": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "contacts": [
            {
              "input": "4796694778",
              "wa_id": "4796694778"
            }
          ],
          "messages": [
            {
              "id": "wamid.HBgKNDc5NjY5NDc3OBUCABEYEkVEMTFERTY0MDVCQUI4NEVFOAA=",
              "message_status": "accepted"
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-10T17:04:31.495Z",
      "updatedAt": "2025-04-10T17:04:31.495Z",
      "id": "CFjXUKUF3jMewkBv",
      "name": "nin"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-05-13T20:49:20.757Z",
  "versionId": "8ff544fb-9b77-4d5b-87ac-af9c44baf000"
}